Repository cBioPortal/cbioportal, pull requests merged in 2018-02, with the labels that each got.

#3710 Fix validation for IGR Variant Classification
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/unit_tests_validate_data.py
Labels: ready to merge, validator

#3856 NormalizeExpressionLevels parse header fix.
  core/src/main/java/org/mskcc/cbio/portal/scripts/NormalizeExpressionLevels.java
Labels: bug, pipeline, ready to merge

#3894 GISTIC_TO_GENE FKC fix
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/migration.sql
  pom.xml
Labels: bug, includes db changes, rc

#3901 Revisit of making mybatis second-level cache readOnly.
  business/src/main/resources/applicationContext-business.xml
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/util/CustomMyBatisObjectFactory.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/util/LimitedPermissionArrayList.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/CancerTypeMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/ClinicalAttributeMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/ClinicalDataMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/ClinicalEventMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/CopyNumberSegmentMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/CosmicCountMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/DiscreteCopyNumberMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/GeneMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/GenePanelMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/GenesetHierarchyMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/GenesetMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MolecularDataMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MolecularProfileMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MutationMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/PatientMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/SampleListMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/SampleMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/SignificantCopyNumberRegionMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/SignificantlyMutatedGeneMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/StudyMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/VariantCountMapper.xml
  service/pom.xml
  service/src/main/java/org/cbioportal/service/impl/ClinicalAttributeServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/MolecularProfileServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/SampleListServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/StudyServiceImpl.java
  service/src/test/java/org/cbioportal/service/impl/ClinicalAttributeServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/MolecularProfileServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/SampleListServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/StudyServiceImplTest.java
Labels: performance, refactoring

#3841 Update documentation on the location of study staging files.
  docs/Data-Loading.md
  docs/Downloads.md
  docs/Using-the-metaImport-script.md
Labels: data, documentation

#3913 Check for ambiguous (SNP/INDEL) variant allele.
  core/src/main/java/org/mskcc/cbio/maf/MafUtil.java
  core/src/main/java/org/mskcc/cbio/portal/model/ExtendedMutation.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java
  core/src/test/java/org/mskcc/cbio/portal/util/TestMafUtil.java
  docs/File-Formats.md
Labels: bug, pipeline
