Repository cBioPortal/cbioportal, pull requests merged in 2018-09, with the labels that each got.

#4705 spring-security 5 upgrade
  .gitignore
  core/pom.xml
  pom.xml
  portal/src/main/webapp/WEB-INF/web.xml
  portal/src/main/webapp/login.jsp
  security/security-spring/pom.xml
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/googleplus/PortalUserDetailsService.java
  security/security-spring/src/main/resources/applicationContext-security.xml
Labels: security

#4689 Add `rc` build status in the README
  README.md
Labels: documentation, minor

#4665 Update documentation how to remove a study
  docs/Data-Loading-For-Developers.md
  docs/Data-Loading-Maintaining-Studies.md
  docs/Data-Loading.md
  docs/Development,-debugging-and-maintenance-mode-using-cbioportalImporter.md
Labels: documentation

#4762 Change classes to be serializable for Redis compatibility
  core/src/main/java/org/mskcc/cbio/portal/model/DownloadLink.java
  core/src/main/java/org/mskcc/cbio/portal/model/GeneticProfile.java
Labels: bug

#4771 Ban MUTATION_COUNT and FRACTION_GENOME_ALTERED from clinical data
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/data_clin_coldefs_banned_attribute.txt
  core/src/test/scripts/unit_tests_validate_data.py
  docs/File-Formats.md
Labels: data, documentation, ready to review, validator

#4829 Avoid assertion error crashes during import
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportCopyNumberSegmentData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportFusionData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTabDelimData.java
Labels: importer, master branch, minor, pipeline

#4526 Update gene set importer and documentation
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportGenesetHierarchy.java
  docs/File-Formats.md
Labels: documentation, minor

#4787 Allow changing config at runtime via $PORTAL_HOME/portal.properties
  .travis.yml
  app.json
  business/src/main/resources/applicationContext-business.xml
  core/src/main/java/org/mskcc/cbio/portal/dao/JdbcDataSource.java
  core/src/main/java/org/mskcc/cbio/portal/dao/JdbcUtil.java
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  core/src/main/scripts/env.pl
  core/src/main/scripts/envSimple.pl
  core/src/main/scripts/importer/cbioportalImporter.py
  core/src/main/scripts/importer/metaImport.py
  docs/Build-from-Source.md
  docs/Customizing-your-instance-of-cBioPortal.md
  docs/Data-Loading-For-Developers.md
  docs/Data-Loading-Maintaining-Studies.md
  docs/Deploying.md
  docs/Import-Gene-Panels.md
  docs/Import-Gene-Sets.md
  docs/Import-the-Seed-Database.md
  docs/Load-Sample-Cancer-Study.md
  docs/Pre-Build-Steps.md
  docs/Updating-gene-and-gene_alias-tables.md
  docs/Using-the-dataset-validator.md
  docs/Using-the-metaImport-script.md
  docs/Z-Score-normalization-script.md
  heroku/Procfile
  portal/pom.xml
  test/end-to-end/docker-compose.yml
  test/end-to-end/runtime-config/portal.properties
Labels: enhancement, hyve
