Repository cBioPortal/cbioportal, pull requests merged in 2018-05, with the labels that each got.

#4182 Issue #4109 fix. Also fixed foreign key contraints with cgds.sql & D…
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoCancerStudy.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportProfileData.java
  core/src/test/resources/data_mutations_extended.txt
  core/src/test/resources/data_mutations_extended_continued.txt
  core/src/test/resources/data_mutations_oncotated.txt
  core/src/test/resources/data_mutations_swissprotaccession.maf
  core/src/test/resources/data_mutations_swissprotname.maf
  core/src/test/resources/seed_mini.sql
  db-scripts/src/main/resources/cgds.sql
Labels: bug, critical

#4187 Use maintained copy of OQL parser to query virtual studies
  portal/src/main/webapp/js/src/cgx_jquery.js
Labels: hyve, minor, ready to merge, refactoring

#4101 Improve documentation of db.connection_string property
  docs/portal.properties-Reference.md
Labels: documentation

#4114 Fallback on gene symbol if gene not resolved by entrez
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTabDelimData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportTabDelimData.java
Labels: bug

#4206 Backend changes to fix issue 4162.
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoMutation.java
  core/src/main/java/org/mskcc/cbio/portal/model/ExtendedMutation.java
  core/src/main/java/org/mskcc/cbio/portal/util/ExtendedMutationUtil.java
  core/src/test/java/org/mskcc/cbio/portal/dao/TestDaoMutation.java
Labels: bug, ready to review

#4227 Issue 4165 fix.
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportFusionData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTabDelimData.java
  core/src/main/java/org/mskcc/cbio/portal/util/GeneticProfileUtil.java
  core/src/main/java/org/mskcc/cbio/portal/util/ImportDataUtil.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestIntegrationTest.java
  core/src/test/scripts/test_data/study_es_0/data_fusions.txt
  core/src/test/scripts/test_data/study_es_0/result_report.html
Labels: bug

#4192 Documentation for merged gene tracks in OQL
  docs/Onco-Query-Language.md
  docs/images/OQL/merged_genes_oncoprint.png
Labels: documentation, hyve

#4264 Display only the study-specific clinical variables in Plots tab
  core/src/main/java/org/mskcc/cbio/portal/web_api/GetClinicalData.java
Labels: bug

#4281 Update clinical file names
  docs/File-Formats.md
Labels: hotfix

#4333 Recommend MySQL <=5.7.x
  docs/Import-the-Seed-Database.md
  docs/System-Requirements.md
Labels: documentation

#3111 Update cBioPortal-ER-Diagram.md
  docs/cBioPortal-ER-Diagram.md
Labels: bug, documentation
