Repository cBioPortal/cbioportal, pull requests merged in 2018-06, with the labels that each got.

#4106 'Targeted_Region' can be without gene
  core/src/main/scripts/importer/validateData.py
Labels: minor, ready to review, validator

#4074 Update gene set test data and documentation
  core/src/test/resources/genesets/study_es_0_genesets.gmt
  core/src/test/resources/genesets/study_es_0_supp-genesets.txt
  core/src/test/resources/genesets/study_es_0_tree.yaml
  core/src/test/resources/integrationTestScript.xml
  core/src/test/scripts/test_data/api_json_system_tests/genesets.json
  core/src/test/scripts/test_data/api_json_unit_tests/genesets.json
  core/src/test/scripts/test_data/data_gsva_pvalues_missing_column.txt
  core/src/test/scripts/test_data/data_gsva_pvalues_missing_row.txt
  core/src/test/scripts/test_data/data_gsva_pvalues_outrange.txt
  core/src/test/scripts/test_data/data_gsva_scores_missing_column.txt
  core/src/test/scripts/test_data/data_gsva_scores_missing_row.txt
  core/src/test/scripts/test_data/data_gsva_scores_outrange.txt
  core/src/test/scripts/test_data/study_es_0/data_gsva_pvalues.txt
  core/src/test/scripts/test_data/study_es_0/data_gsva_scores.txt
  core/src/test/scripts/test_data/study_es_0/meta_gsva_pvalues.txt
  core/src/test/scripts/test_data/study_es_0/meta_gsva_scores.txt
  core/src/test/scripts/test_data/study_es_0/result_report.html
  core/src/test/scripts/unit_tests_validate_data.py
  docs/File-Formats.md
  docs/Import-Gene-Sets.md
  docs/Load-Sample-Cancer-Study.md
  docs/Updating-gene-and-gene_alias-tables.md
Labels: documentation, hyve

#3790 Change error to warning for incorrect UniProtKB accession
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/unit_tests_validate_data.py
Labels: minor, ready to merge, validator

#4042 Validator: Error when gene set not in database
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/data_gsva_scores_geneset_not_in_database.txt
  core/src/test/scripts/unit_tests_validate_data.py
Labels: enhancement, ready to merge, validator

#4326 Improve sample id validation and enforce patient id validation
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/data_clin_wrong_ids.txt
  core/src/test/scripts/test_data/data_clin_wrong_patient_id.txt
  core/src/test/scripts/test_data/study_quotes/result_report.html
  core/src/test/scripts/unit_tests_validate_data.py
  docs/File-Formats.md
Labels: enhancement, ready to merge, validator

#4364 Add validation to check for dates in non-date columns in clinical data
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/data_clin_date_in_nondate_column.txt
  core/src/test/scripts/unit_tests_validate_data.py
Labels: ready to merge, validator

#4004 Improve the logic to annotate proteinStart and proteinEnd
  core/src/main/java/org/mskcc/cbio/portal/util/ExtendedMutationUtil.java
  core/src/test/java/org/mskcc/cbio/portal/util/ExtendedMutationUtilTest.java
Labels: pipeline
