Repository cBioPortal/cbioportal, pull requests merged in 2018-12, with the labels that each got.

#5352 Update GenePattern GISTIC 2.0 URLs
  docs/Data-Loading-Tips-and-Best-Practices.md
  docs/File-Formats.md
Labels: documentation, ready to merge

#5368 Validate whether input data contains correct UTF-8 bytes
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/mutations/data_mutations_invalid_utf8.maf
  core/src/test/scripts/unit_tests_validate_data.py
Labels: ready to merge, validator

#5394 Fall back on 'Hugo_Symbol' if `CanonicalGene` cannot be resolved by 'Entrez_Gene_Id'
  core/src/main/java/org/mskcc/cbio/portal/scripts/NormalizeExpressionLevels.java
Labels: bug

#5403 Get project version from git
  .travis.yml
  app.json
  business/pom.xml
  core/pom.xml
  db-scripts/pom.xml
  docs/System-Requirements.md
  model/pom.xml
  persistence/persistence-api/pom.xml
  persistence/persistence-mybatis/pom.xml
  persistence/pom.xml
  pom.xml
  portal/pom.xml
  scripts/pom.xml
  security/pom.xml
  security/security-spring/pom.xml
  service/pom.xml
  version.sh
  web/pom.xml
Labels: ready to review

#5463 Disable bot indexing when sitemaps are not configured on
  portal/src/main/webapp/index.jsp
  portal/src/main/webapp/robots.jsp
  portal/src/main/webapp/sitemap_index.jsp
  portal/src/main/webapp/sitemap_study.jsp
Labels: frontend

#5485 add driver and germline OQL documentation
  docs/Onco-Query-Language.md
  docs/images/OQL/basic_query.png
  docs/images/OQL/basic_query_oncoprint.png
  docs/images/OQL/basic_query_oncoprint_exp_prot.png
  docs/images/OQL/merged_genes_oncoprint.png
  docs/images/OQL/rb_query.png
  docs/images/OQL/rb_query_oncoprint.png
  docs/images/OQL/rb_query_oncoprint_modified.png
Labels: do not merge
