Repository cBioPortal/cbioportal, pull requests merged in 2018-08, with the labels that each got.

#4562 Add configurable cutoff for max line numbers and encountered values in HTML report
  core/src/main/scripts/importer/metaImport.py
  core/src/main/scripts/importer/validateData.py
  core/src/main/scripts/importer/validateStudies.py
  core/src/main/scripts/importer/validation_report_template.html.jinja
  docs/Using-the-dataset-validator.md
Labels: enhancement, validator

#4536 Merge master to release 1.15.0
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/data_cna_cytoband.txt
  core/src/test/scripts/unit_tests_validate_data.py
  docs/File-Formats.md
  docs/News.md
  docs/Updating-gene-and-gene_alias-tables.md
Labels: documentation

#4558 Move TUMOR_SITE to patient attributes
  core/src/main/scripts/importer/validateData.py
  docs/File-Formats.md
Labels: data, ready to review, validator

#4611 Caches needed data for security so mybatis cache can be disabled.
  security/security-spring/src/main/java/org/cbioportal/security/spring/CancerStudyPermissionEvaluator.java
Labels: performance

#3012 Increase mutation_event.keyword size.
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/migration.sql
  pom.xml
Labels: enhancement, hotfix, includes db changes

#4639 Validation for hg18 segment files and gene names that start with number
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/api_json_unit_tests/genes.json
  core/src/test/scripts/test_data/api_json_unit_tests/genesaliases.json
  core/src/test/scripts/test_data/data_cna_genecol_presence_both_invalid_hugo_integer.txt
  core/src/test/scripts/test_data/data_seg_valid_hg18.seg
  core/src/test/scripts/unit_tests_validate_data.py
Labels: validator

#4675 Add in missing line to update db version schema
  db-scripts/src/main/resources/migration.sql
Labels: bug, data

#4707 Clean up Tomcat 6 note from build docs
  docs/Build-from-Source.md
Labels: dependencies, documentation, minor
