Repository cBioPortal/cbioportal, pull requests merged in 2018-07, with the labels that each got.

#4395 replaced the legacy standalone mutation mapper with the new react component
  portal/src/main/webapp/mutation_mapper.jsp
Labels: do not merge

#4408 Updates to the validator
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/validateData.py
  core/src/main/scripts/importer/validateStudies.py
  core/src/test/scripts/test_data/meta_files/meta_study.txt
  core/src/test/scripts/test_data/mutations/data_mutations_check_special_cases_allele.maf
  core/src/test/scripts/test_data/mutations/data_mutations_test_variant_types.maf
  core/src/test/scripts/unit_tests_validate_data.py
Labels: bug, validator

#4370 Document custom sets of genes with merged gene tracks
  docs/portal.properties-Reference.md
Labels: documentation, ready to merge

#4462 Remove data in study_es_0 which generate warnings (its warning free).
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestIntegrationTest.java
  core/src/test/scripts/test_data/study_es_0/brca_tcga_pub.maf
  core/src/test/scripts/test_data/study_es_0/data_fusions.txt
  core/src/test/scripts/test_data/study_es_0/result_report.html
  docs/File-Formats.md
Labels: cleanup

#4453 Fix the validateStudies flush-to-console crash
  core/src/main/scripts/importer/validateStudies.py
  core/src/test/scripts/system_tests_validate_studies.py
Labels: bug, hyve, validator

#4441 Support fusion GML events import
  core/src/main/java/org/mskcc/cbio/maf/FusionFileUtil.java
  core/src/main/java/org/mskcc/cbio/maf/FusionRecord.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportFusionData.java
  core/src/test/scripts/test_data/study_es_0/data_fusions.txt
  docs/File-Formats.md
Labels: enhancement, ready to merge

#4475 Handle unknown status in validateStudies and decrease log cache size
  core/src/main/scripts/importer/validateData.py
  core/src/main/scripts/importer/validateStudies.py
Labels: bug, minor, ready to merge, validator

#4367 Remove Java 7 reference from a documented command
  docs/Using-the-dataset-validator.md
Labels: documentation, minor, pipeline

#4467 Allow Cytoband column in CNA data
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/data_cna_cytoband.txt
  core/src/test/scripts/unit_tests_validate_data.py
  docs/File-Formats.md
  docs/Updating-gene-and-gene_alias-tables.md
Labels: documentation, validator
