Repository cBioPortal/cbioportal, pull requests merged in 2019-10, with the labels that each got.

#6656 fix broken PreAuthorize tag for /expression-enrichments/fetch
  web/src/main/java/org/cbioportal/web/ExpressionEnrichmentController.java
Labels: api, bug, security

#6666 Configure Ehcache using runtime properties
  docs/Caching.md
  docs/portal.properties-Reference.md
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/CacheEnabledConfig.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomEhCachingProvider.java
  persistence/persistence-api/src/main/resources/applicationContext-ehcache.xml
  persistence/persistence-api/src/main/resources/ehcache.xml
  src/main/resources/portal.properties.EXAMPLE
Labels: backend, enhancement, master branch

#6093 Fixing for Genie fusion issue 5613
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MutationRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MutationMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MutationMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MutationMapper.xml
  service/src/main/java/org/cbioportal/service/MutationService.java
  service/src/main/java/org/cbioportal/service/impl/MutationServiceImpl.java
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/parameter/ChartType.java
  web/src/main/java/org/cbioportal/web/parameter/FusionGeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/StudyViewFilter.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  web/src/test/java/org/cbioportal/web/StudyViewControllerTest.java
Labels: api, backend, feature, security

#6695 Skip SV records with invalid exon/ensembl transcript ids
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportStructuralVariantData.java
  core/src/main/java/org/mskcc/cbio/portal/util/StructuralVariantUtil.java
  core/src/test/java/org/mskcc/cbio/portal/util/TestStructuralVariantUtil.java
Labels: bug, importer

#6715 add checking/logging of Ehcache property errors
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomEhCachingProvider.java
Labels: backend

#6725 Fix Swagger Scheme Defaults
  web/src/main/java/org/cbioportal/web/config/SwaggerConfig.java
Labels: ready to review

#6540 MAF import updates (annotation json, allele specific copy number)
  core/pom.xml
  core/src/main/java/org/mskcc/cbio/maf/MafRecord.java
  core/src/main/java/org/mskcc/cbio/maf/MafUtil.java
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoAlleleSpecificCopyNumber.java
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoMutation.java
  core/src/main/java/org/mskcc/cbio/portal/model/AlleleSpecificCopyNumber.java
  core/src/main/java/org/mskcc/cbio/portal/model/ExtendedMutation.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportProfileData.java
  core/src/main/java/org/mskcc/cbio/portal/util/GeneticProfileReader.java
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/validateData.py
  core/src/test/java/org/mskcc/cbio/portal/dao/TestDaoMutation.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportExtendedMutationData.java
  core/src/test/java/org/mskcc/cbio/portal/util/TestMafUtil.java
  core/src/test/resources/data_mutations_extended_json_annotation.txt
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/gen-cgds-test-schema.sh
  db-scripts/src/main/resources/migration.sql
  docs/File-Formats.md
  model/src/main/java/org/cbioportal/model/AlleleSpecificCopyNumber.java
  model/src/main/java/org/cbioportal/model/Mutation.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MutationMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/MutationMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  pom.xml
  web/src/test/java/org/cbioportal/web/MutationControllerTest.java
Labels: importer, includes db changes, rc

#6733 Allow 'ALL' or 'NONE' SV site 1 and 2 Ensembl transcript ids/exons info for import
  core/src/main/java/org/mskcc/cbio/portal/util/StructuralVariantUtil.java
  core/src/test/java/org/mskcc/cbio/portal/util/TestStructuralVariantUtil.java
Labels: importer

#6760 Fix comment bug in db migration
  core/src/main/scripts/migrate_db.py
  db-scripts/src/main/resources/migration.sql
Labels: bug, rc
