Repository cBioPortal/cbioportal, pull requests merged in 2019-05, with the labels that each got.

#6036 Add Data Access Token functionality to release branch
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/migration.sql
  docs/Authenticating-Users-via-Tokens.md
  docs/README.md
  docs/images/previews/dat-download-menu.png
  model/src/main/java/org/cbioportal/model/DataAccessToken.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/DataAccessTokenRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/DataAccessTokenMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/DataAccessTokenMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/DataAccessTokenMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/DataAccessTokenMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testContextDatabase.xml
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  pom.xml
  portal/src/main/webapp/config_service.jsp
  security/pom.xml
  security/security-spring/pom.xml
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/googleplus/CustomUserDetailsService.java
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/token/TokenAuthenticationFilter.java
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/token/TokenAuthenticationSuccessHandler.java
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/token/TokenUserDetailsAuthenticationProvider.java
  security/security-spring/src/main/resources/applicationContext-security.xml
  security/security-spring/src/test/java/org/cbioportal/security/spring/authentication/token/TokenAuthenticationFilterTest.java
  security/security-spring/src/test/java/org/cbioportal/security/spring/authentication/token/TokenAuthenticationFilterTestConfiguration.java
  service/pom.xml
  service/src/main/java/org/cbioportal/service/DataAccessTokenService.java
  service/src/main/java/org/cbioportal/service/DataAccessTokenServiceFactory.java
  service/src/main/java/org/cbioportal/service/exception/DataAccessTokenNoUserIdentityException.java
  service/src/main/java/org/cbioportal/service/exception/DataAccessTokenProhibitedUserException.java
  service/src/main/java/org/cbioportal/service/exception/InvalidDataAccessTokenException.java
  service/src/main/java/org/cbioportal/service/exception/MaxNumberTokensExceededException.java
  service/src/main/java/org/cbioportal/service/exception/TokenNotFoundException.java
  service/src/main/java/org/cbioportal/service/impl/JwtDataAccessTokenServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/UnauthDataAccessTokenServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/UuidDataAccessTokenServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/JwtUtils.java
  service/src/test/java/org/cbioportal/service/impl/UuidDataAccessTokenServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/UuidDataAccessTokenServiceImplTestConfiguration.java
  service/src/test/java/org/cbioportal/service/impl/UuidDataAccessTokenServiceImplTestFiveTokenLimit.java
  service/src/test/java/org/cbioportal/service/util/JwtUtilsTest.java
  service/src/test/java/org/cbioportal/service/util/JwtUtilsTestConfiguration.java
  src/main/resources/portal.properties.EXAMPLE
  web/src/main/java/org/cbioportal/web/DataAccessTokenController.java
  web/src/main/java/org/cbioportal/web/error/GlobalExceptionHandler.java
  web/src/main/java/org/cbioportal/web/mixin/DataAccessTokenMixin.java
  web/src/main/java/org/mskcc/cbio/portal/web/config/CustomObjectMapper.java
  web/src/test/java/org/cbioportal/web/DataAccessTokenControllerTest.java
  web/src/test/java/org/cbioportal/web/config/DataAccessTokenControllerConfig.java
  web/src/test/java/org/cbioportal/web/config/RestAuthenticationEntryPoint.java
  web/src/test/java/org/cbioportal/web/config/TokenAuthenticationSuccessHandler.java
  web/src/test/resources/applicationContext-security-test.xml
Labels: api, enhancement, security

#6037 fix gene panel matrix hyperlink
  docs/File-Formats.md
Labels: documentation, ready to merge

#6070 Merge master into release-3.0.0 (resolves conflicts and bugs)
  docs/Deployment-Procedure.md
  docs/File-Formats.md
  docs/News.md
  docs/README.md
  docs/Release-Procedure.md
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/util/CacheMapUtil.java
  portal/src/main/webapp/WEB-INF/web.xml
  portal/src/main/webapp/config_service.jsp
  security/security-spring/src/main/java/org/cbioportal/security/spring/CancerStudyPermissionEvaluator.java
  security/security-spring/src/main/resources/applicationContext-security.xml
  web/src/main/java/org/cbioportal/web/CoExpressionController.java
Labels: master branch, security

#6073 Merge release-3.0.0 into rc
  docs/Deployment-Procedure.md
  docs/File-Formats.md
  docs/News.md
  docs/README.md
  docs/Release-Procedure.md
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/util/CacheMapUtil.java
  portal/src/main/webapp/WEB-INF/web.xml
  portal/src/main/webapp/config_service.jsp
  security/security-spring/src/main/java/org/cbioportal/security/spring/CancerStudyPermissionEvaluator.java
  security/security-spring/src/main/resources/applicationContext-security.xml
  web/src/main/java/org/cbioportal/web/CoExpressionController.java
Labels: rc, security

#6100 Ignore studies order while fetching groups from session-service api
  web/src/main/java/org/mskcc/cbio/portal/web/ProxySessionServiceController.java
Labels: ready to review

#6108 Data Access Token access for api legacy and webservice dot do
  security/security-spring/src/main/resources/applicationContext-security.xml
Labels: api, bug, security

#6057 Add api to support multi-group mutation enrichment
  model/src/main/java/org/cbioportal/model/AlterationEnrichment.java
  model/src/main/java/org/cbioportal/model/CountSummary.java
  service/src/main/java/org/cbioportal/service/CopyNumberEnrichmentService.java
  service/src/main/java/org/cbioportal/service/MutationEnrichmentService.java
  service/src/main/java/org/cbioportal/service/impl/CopyNumberEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/MutationEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/AlterationEnrichmentUtil.java
  service/src/main/java/org/cbioportal/service/util/LogRatioCalculator.java
  service/src/test/java/org/cbioportal/service/impl/CopyNumberEnrichmentServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/MutationEnrichmentServiceImplTest.java
  service/src/test/java/org/cbioportal/service/util/AlterationEnrichmentUtilTest.java
  web/src/main/java/org/cbioportal/web/CopyNumberEnrichmentController.java
  web/src/main/java/org/cbioportal/web/MutationEnrichmentController.java
  web/src/main/java/org/cbioportal/web/parameter/MolecularProfileCasesGroupFilter.java
  web/src/main/java/org/cbioportal/web/parameter/MultipleStudiesEnrichmentFilter.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/test/java/org/cbioportal/web/CopyNumberEnrichmentControllerTest.java
  web/src/test/java/org/cbioportal/web/MutationEnrichmentControllerTest.java
Labels: api, ready to review

#6091 Filter samples data while calculating co-expression
  service/src/main/java/org/cbioportal/service/impl/CoExpressionServiceImpl.java
Labels: ready to review

#6166 change ObjectMapper in InvolvedCancerStudyExtractorInterceptor
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/main/resources/applicationContext-web.xml
  web/src/test/java/org/cbioportal/web/ClinicalAttributeControllerTest.java
  web/src/test/java/org/cbioportal/web/ClinicalDataControllerTest.java
  web/src/test/java/org/cbioportal/web/CoExpressionControllerTest.java
  web/src/test/java/org/cbioportal/web/CopyNumberEnrichmentControllerTest.java
  web/src/test/java/org/cbioportal/web/CopyNumberSegmentControllerTest.java
  web/src/test/java/org/cbioportal/web/CosmicCountControllerTest.java
  web/src/test/java/org/cbioportal/web/DiscreteCopyNumberControllerTest.java
  web/src/test/java/org/cbioportal/web/ExpressionEnrichmentControllerTest.java
  web/src/test/java/org/cbioportal/web/GeneControllerTest.java
  web/src/test/java/org/cbioportal/web/GenePanelControllerTest.java
  web/src/test/java/org/cbioportal/web/GenesetDataControllerTest.java
  web/src/test/java/org/cbioportal/web/MolecularDataControllerTest.java
  web/src/test/java/org/cbioportal/web/MolecularProfileControllerTest.java
  web/src/test/java/org/cbioportal/web/MrnaPercentileControllerTest.java
  web/src/test/java/org/cbioportal/web/MutationControllerTest.java
  web/src/test/java/org/cbioportal/web/MutationEnrichmentControllerTest.java
  web/src/test/java/org/cbioportal/web/MutationSpectrumControllerTest.java
  web/src/test/java/org/cbioportal/web/PatientControllerTest.java
  web/src/test/java/org/cbioportal/web/SampleControllerTest.java
  web/src/test/java/org/cbioportal/web/SampleListControllerTest.java
  web/src/test/java/org/cbioportal/web/StudyControllerTest.java
  web/src/test/java/org/cbioportal/web/StudyViewControllerTest.java
  web/src/test/java/org/cbioportal/web/VariantCountControllerTest.java
Labels: bug, security

#6063 Update docker docs
  .dockerignore
  docker/README.md
  docker/web-and-data/Dockerfile
  docker/web/Dockerfile
  docs/Docker-Prerequisites.md
  docs/README.md
  docs/docker/README.md
  docs/docker/example_commands.md
  docs/docker/notes-for-non-linux.md
  docs/docker/using-keycloak.md
Labels: hyve

#6179 StudyViewController changed to use Interceptor for arg parsing
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
Labels: api, bug, master branch, security
