Repository cBioPortal/cbioportal, pull requests merged in 2019-09, with the labels that each got.

#6572 Multiple Reference Genome Migration - defaults and warnings
  core/src/main/scripts/migrate_db.py
  db-scripts/src/main/resources/migration.sql
Labels: enhancement

#6589 enhancements to migrate_db.py for reference genomes
  core/src/main/scripts/migrate_db.py
  db-scripts/src/main/resources/migration.sql
Labels: enhancement

#6602 Remove unused reference to GENOME_BUILD
  core/src/main/scripts/migrate_db.py
Labels: bug

#6603 migrate_db.py now avoids no space left on disk error
  core/src/main/scripts/migrate_db.py
Labels: enhancement, performance

#6614 Fix scripts module context loading
  core/src/main/java/org/mskcc/cbio/portal/util/SpringUtil.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomEhCachingProvider.java
Labels: bug

#6630 Add proper handling of access control for Treatments API
  web/src/main/java/org/cbioportal/web/TreatmentController.java
  web/src/main/java/org/cbioportal/web/TreatmentDataController.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
Labels: api, bug, hotfix, security
