Repository cBioPortal/cbioportal, pull requests merged in 2019-06, with the labels that each got.

#6264 Add DB property to enable/disable prepared statement pooling
  core/src/main/java/org/mskcc/cbio/portal/dao/JdbcDataSource.java
  core/src/main/java/org/mskcc/cbio/portal/util/DatabaseProperties.java
Labels: master branch, performance

#6271 resolve gene ambiguity reporting exception during profile import
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTabDelimData.java
Labels: bug, data, importer, master branch

#4057 Update to structural variant data format
  business/src/main/java/org/mskcc/cbio/portal/model/StructuralVariant.java
  business/src/main/java/org/mskcc/cbio/portal/persistence/StructuralVariantMapper.java
  business/src/main/java/org/mskcc/cbio/portal/repository/StructuralVariantMyBatisRepository.java
  business/src/main/java/org/mskcc/cbio/portal/repository/StructuralVariantRepository.java
  business/src/main/java/org/mskcc/cbio/portal/service/StructuralVariantService.java
  business/src/main/java/org/mskcc/cbio/portal/service/StructuralVariantServiceImpl.java
  business/src/main/resources/applicationContext-business.xml
  business/src/main/resources/org/mskcc/cbio/portal/persistence/StructuralVariantMapper.xml
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoStructuralVariant.java
  core/src/main/java/org/mskcc/cbio/portal/dao/MySQLbulkLoader.java
  core/src/main/java/org/mskcc/cbio/portal/model/CancerStudy.java
  core/src/main/java/org/mskcc/cbio/portal/model/StructuralVariant.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportProfileData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportStructuralVariantData.java
  core/src/main/scripts/importer/allowed_data_types.txt
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/validateData.py
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportStructuralVariantData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestIntegrationTest.java
  core/src/test/resources/applicationContext-dao.xml
  core/src/test/resources/data_structural_variants.txt
  core/src/test/resources/integrationTestScript.xml
  core/src/test/resources/seed_mini.sql
  core/src/test/scripts/test_data/api_json_system_tests/genes.json
  core/src/test/scripts/test_data/data_structural_variants_exon_not_in_transcript.txt
  core/src/test/scripts/test_data/data_structural_variants_missing_columns.txt
  core/src/test/scripts/test_data/data_structural_variants_missing_values.txt
  core/src/test/scripts/test_data/data_structural_variants_transcript_not_in_genome_nexus.txt
  core/src/test/scripts/test_data/study_es_0/data_structural_variants.txt
  core/src/test/scripts/test_data/study_es_0/meta_structural_variants.txt
  core/src/test/scripts/test_data/study_es_0/result_report.html
  core/src/test/scripts/unit_tests_validate_data.py
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/migration.sql
  docs/File-Formats.md
  model/src/main/java/org/cbioportal/model/StructuralVariant.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/StructuralVariantRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/StructuralVariantMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/StructuralVariantMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/StructuralVariantMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/GeneMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/StructuralVariantMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  pom.xml
  service/src/main/java/org/cbioportal/service/StructuralVariantService.java
  service/src/main/java/org/cbioportal/service/impl/StructuralVariantServiceImpl.java
  service/src/test/java/org/cbioportal/service/impl/StructuralVariantServiceImplTest.java
  web/src/main/java/org/cbioportal/web/StructuralVariantController.java
  web/src/main/java/org/cbioportal/web/interceptor/UniqueKeyInterceptor.java
  web/src/main/java/org/cbioportal/web/parameter/StructuralVariantFilter.java
  web/src/main/java/org/cbioportal/weblegacy/StructuralVariantController.java
  web/src/main/java/org/cbioportal/weblegacy/mixin/StructuralVariantMixin.java
  web/src/test/java/org/cbioportal/web/StructuralVariantControllerTest.java
  web/src/test/java/org/cbioportal/weblegacy/StructuralVariantControllerTest.java
  web/src/test/java/org/cbioportal/weblegacy/StructuralVariantControllerTestConfig.java
Labels: feature, hyve, includes db changes

#6312 Db migration: remove gene length
  business/src/main/resources/org/mskcc/cbio/portal/persistence/GenePanelMapperLegacy.xml
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoGene.java
  core/src/main/java/org/mskcc/cbio/portal/model/CanonicalGene.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportGeneData.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/MutationsJSON.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/PfamSequenceServlet.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportGeneData.java
  core/src/test/resources/seed_mini.sql
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/migration.sql
  docs/Updating-gene-and-gene_alias-tables.md
  model/src/main/java/org/cbioportal/model/Gene.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/GeneMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/DiscreteCopyNumberMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/GeneMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/MutationMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  pom.xml
  portal/src/main/webapp/WEB-INF/web.xml
  web/src/test/java/org/cbioportal/web/DiscreteCopyNumberControllerTest.java
  web/src/test/java/org/cbioportal/web/GeneControllerTest.java
  web/src/test/java/org/cbioportal/web/MutationControllerTest.java
  web/src/test/java/org/cbioportal/weblegacy/ApiControllerTest.java
  web/src/test/java/org/cbioportal/weblegacy/GenePanelControllerLegacyTest.java
Labels: ready to review

#6328 Fix endpoint of molecularProfiles with structural variants
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportStructuralVariantData.java
Labels: bug, critical

#6234 Validator: do not execute tests that require API data if no_portal_checks is enabled
  core/src/main/scripts/importer/validateData.py
Labels: bug, validator
