Repository cBioPortal/cbioportal, pull requests merged in 2019-02, with the labels that each got.

#5669 change darwin auth check to construct ddp url for ddp patient viewer
  core/src/main/java/org/mskcc/cbio/portal/servlet/CheckDarwinAccessServlet.java
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
Labels: enhancement, patient page

#5682 Change realm name in the Keycloak documentation
  docs/Authenticating-and-Authorizing-Users-via-keycloak.md
Labels: documentation

#5670 Support add/retrieve groups
  .gitignore
  business/src/main/java/org/mskcc/cbio/portal/model/virtualstudy/VirtualStudy.java
  docs/Authenticating-and-Authorizing-Users-via-keycloak.md
  web/src/main/java/org/cbioportal/weblegacy/mixin/VirtualStudyMixin.java
  web/src/main/java/org/mskcc/cbio/portal/web/ProxySessionServiceController.java
  web/src/main/java/org/mskcc/cbio/portal/web/config/CustomObjectMapper.java
Labels: ready to review

#4527 Allow gene symbols starting with numbers for mouse studies
  core/src/main/scripts/importer/validateData.py
Labels: ready to merge, validator

#5677 Use OAuth2Operations to fetch User email.
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/googleplus/GoogleplusConnectionFactory.java
Labels: discussion

#5658 Drop UNIQUE KEY from mutation_event. Set ALLELE fields to TEXT
  .gitignore
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoMutation.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportExtendedMutationData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestNormalizeExpressionLevels.java
  core/src/test/resources/data_mutations_extended_duplicate_events.txt
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/gen-cgds-test-schema.sh
  db-scripts/src/main/resources/migration.sql
  persistence/persistence-mybatis/pom.xml
  persistence/persistence-mybatis/src/test/resources/testContextDatabase.xml
  pom.xml
Labels: bug, includes db changes, ready to review

#5747 Add authentication to studyView API's
  .gitignore
  security/security-spring/src/main/java/org/cbioportal/security/spring/CancerStudyPermissionEvaluator.java
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/parameter/ClinicalDataBinCountFilter.java
  web/src/main/java/org/cbioportal/web/parameter/ClinicalDataBinFilter.java
  web/src/main/java/org/cbioportal/web/parameter/ClinicalDataCountFilter.java
  web/src/main/java/org/cbioportal/web/parameter/ClinicalDataEqualityFilter.java
  web/src/main/java/org/cbioportal/web/parameter/ClinicalDataFilter.java
  web/src/main/java/org/cbioportal/web/parameter/ClinicalDataIntervalFilter.java
  web/src/main/java/org/cbioportal/web/parameter/CopyNumberGeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/MutationGeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/RectangleBounds.java
  web/src/main/java/org/cbioportal/web/parameter/StudyViewFilter.java
Labels: critical

#5784 add timestamp to the msk slide viewer token information
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  core/src/main/java/org/mskcc/cbio/portal/util/MskWholeSlideViewerTokenGenerator.java
Labels: ready to review

#5734 Add ssl prop for db connection
  core/src/main/java/org/mskcc/cbio/portal/dao/JdbcDataSource.java
  core/src/main/java/org/mskcc/cbio/portal/util/DatabaseProperties.java
  src/main/resources/portal.properties.EXAMPLE
Labels: database, feature, master branch
