Repository cBioPortal/cbioportal, pull requests merged in 2019-01, with the labels that each got.

#5459 Documentation to help new (backend) developers with testing part
  docs/Testing.md
Labels: documentation

#5441 Add parameter to remove What's New section
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  docs/portal.properties-Reference.md
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: enhancement

#5614 Remove hg18 exception for segment data
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/test/scripts/test_data/data_seg_invalid_hg18.seg
  core/src/test/scripts/test_data/data_seg_valid_hg18.seg
  core/src/test/scripts/unit_tests_validate_data.py
Labels: data, ready to review, validator
