Repository cBioPortal/cbioportal, pull requests merged in 2020-11, with the labels that each got.

#8036 add installation_map_url property
  portal/src/main/webapp/config_service.jsp
Labels: devops

#7950 add integration test to load study_es_0
  .travis.yml
  test/integration/docker-compose-localbuild.yml
  test/integration/test_load_study.sh
Labels: test

#8041 Treatments Pre/Post Fix
  model/src/main/java/org/cbioportal/model/Treatment.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/TreatmentMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/TreatmentMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
Labels: bug

#8049 Update heroku stack version
  app.json
Labels: devops

#8053 GetStop doesn't NPE
  model/src/main/java/org/cbioportal/model/Treatment.java
Labels: bug

#8066 Treatment SQL performs well on multi-study queries
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/TreatmentMapper.xml
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
Labels: performance

#8067 Treatment SQL performs well on multi-study queries
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/TreatmentMapper.xml
Labels: bug

#8075 Updated News
  docs/News.md
Labels: documentation

#8080 Update team members
  docs/About-Us.md
Labels: documentation

#8014 Cbioportal performance test workflow
  .github/k8s/cbioportal_performance_test.yaml
  .github/k8s/run_endpoint_test.sh
  .github/workflows/cbioportal-performance-test.yml
Labels: run-performance-tests

#8079 Update documentation about LAB_TEST timeline tracks
  docs/File-Formats.md
Labels: documentation

#7894 RFC56: Add support for custom driver annotations for CNA data
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoCancerStudy.java
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoCnaEvent.java
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoMutation.java
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoStructuralVariant.java
  core/src/main/java/org/mskcc/cbio/portal/model/CnaEvent.java
  core/src/main/java/org/mskcc/cbio/portal/model/StructuralVariant.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportProfileData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportStructuralVariantData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTabDelimData.java
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/validateData.py
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportProfileData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportStructuralVariantData.java
  core/src/test/resources/data_cna_pd_annotations.txt
  core/src/test/resources/meta_CNA.txt
  core/src/test/scripts/test_data/data_pd_annotation_missing_col_driver.txt
  core/src/test/scripts/test_data/data_pd_annotation_missing_col_gene_ids.txt
  core/src/test/scripts/test_data/data_pd_annotation_missing_col_sampleid.txt
  core/src/test/scripts/test_data/data_pd_annotation_missing_fields.txt
  core/src/test/scripts/test_data/study_es_0/data_cna_pd_annotations.txt
  core/src/test/scripts/test_data/study_es_0/data_mutations_extended.maf
  core/src/test/scripts/test_data/study_es_0/meta_cna_discrete.txt
  core/src/test/scripts/test_data/study_es_0/result_report.html
  core/src/test/scripts/unit_tests_validate_data.py
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/migration.sql
  docs/File-Formats.md
  model/src/main/java/org/cbioportal/model/Alteration.java
  model/src/main/java/org/cbioportal/model/Mutation.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/DiscreteCopyNumberMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MutationMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/StructuralVariantMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/DiscreteCopyNumberMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/StructuralVariantMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  pom.xml
Labels: database

#8085 Replace old jsp links from FAQ.md
  docs/FAQ.md
Labels: documentation

#8081 enable sonarcloud analysis from external PR
  .github/workflows/sonarcloud.yml
Labels: enhancement

#8064 Validate length of HGVSp_Short values
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/mutations/data_mutations_too_long_hgvsp_short.maf
  core/src/test/scripts/unit_tests_validate_data.py
Labels: bug, validator
