Repository cBioPortal/cbioportal, pull requests merged in 2020-04, with the labels that each got.

#7338 match tested function name in unit test
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/DiscreteCopyNumberMyBatisRepositoryTest.java
Labels: minor, test

#7353 Fix occasional missing last label on study view bar chart
  web/src/main/java/org/cbioportal/web/util/LogScaleDataBinner.java
  web/src/test/java/org/cbioportal/web/util/DataBinnerTest.java
Labels: bug

#7352 fix resource data validator bug
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/data_resource_patient_duplicate.txt
  core/src/test/scripts/test_data/data_resource_patient_valid.txt
  core/src/test/scripts/test_data/data_resource_sample_duplicate.txt
  core/src/test/scripts/test_data/data_resource_sample_valid.txt
  core/src/test/scripts/test_data/data_resource_study_duplicate.txt
  core/src/test/scripts/test_data/data_resource_study_valid.txt
  core/src/test/scripts/unit_tests_validate_data.py
Labels: ready to review

#7400 fix oncokb proxy controller
  web/src/main/java/org/cbioportal/proxy/ProxyController.java
Labels: cl-bug

#7401 Make metaImport.py use subcommands instead of -c
  core/src/main/scripts/importer/cbioportalImporter.py
Labels: enhancement

#7425 update tutorial 2
  docs/tutorials/cBioPortal Tutorial 2 Single Study Query.pdf
Labels: documentation

#7431 Update example_commands.md
  docs/docker/example_commands.md
Labels: documentation

#7414 Remove skin.custom_header from docs
  docs/Customizing-your-instance-of-cBioPortal.md
Labels: documentation

#7439 Update Deployment Docs
  docs/Deployment-Procedure.md
Labels: documentation

#7456 Publish tags to docker hub
  .github/workflows/dockerimage.yml
Labels: devops

#7458 Customize Sentry client to send x-forwarded ip address
  web/src/main/java/org/cbioportal/logging/SentryClientFactory.java
Labels: skip-changelog
