Repository cBioPortal/cbioportal, pull requests merged in 2020-07, with the labels that each got.

#7663 update Frequently Asked Questions for import_data.md
  docs/docker/import_data.md
Labels: documentation

#7653 Combine mskcc and cbioportal web packages. Remove remaining web-legacy structure from web module
  portal/src/main/webapp/WEB-INF/web.xml
  web/src/main/java/org/cbioportal/documentation/ExternalPageController.java
  web/src/main/java/org/cbioportal/proxy/LegacyProxyController.java
  web/src/main/java/org/cbioportal/proxy/MatchMinerController.java
  web/src/main/java/org/cbioportal/proxy/ProxySessionServiceController.java
  web/src/main/java/org/cbioportal/web/config/CustomObjectMapper.java
  web/src/main/java/org/cbioportal/web/mixin/SessionDataMixin.java
  web/src/main/java/org/cbioportal/web/mixin/SessionMixin.java
  web/src/main/java/org/mskcc/cbio/portal/swagger/ApiServiceSwaggerConfig.java
  web/src/main/java/org/mskcc/cbio/portal/web/config/CustomObjectMapper.java
  web/src/main/resources/applicationContext-web.xml
  web/src/main/resources/applicationContext-weblegacy.xml
  web/src/test/java/org/cbioportal/weblegacy/StructuralVariantControllerTest.java
Labels: chore

#7670 Document google analytics profile id config setting
  docs/Customizing-your-instance-of-cBioPortal.md
Labels: documentation

#7685 cleanup of redis-cache-dev
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/CacheEnabledConfig.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/EhCacheStatistics.java
  persistence/persistence-api/src/main/resources/applicationContext-ehcache.xml
  persistence/persistence-api/src/main/resources/applicationContext-rediscache.xml
  service/src/main/java/org/cbioportal/service/impl/CacheStatisticsServiceImpl.java
  web/src/main/java/org/cbioportal/web/CancerTypeController.java
Labels: backend, feature

#6861 Backend Routing Improvements
  portal/src/main/webapp/WEB-INF/web.xml
  portal/src/main/webapp/error.html
Labels: cleanup

#7686 prepend app name to redis cache names because many instances of the p…
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/CancerTypeRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/ClinicalAttributeRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/ClinicalDataRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/ClinicalEventRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/CopyNumberSegmentRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/CosmicCountRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/DiscreteCopyNumberRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/GenePanelRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/GeneRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/GenericAssayRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/GenesetHierarchyRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/GenesetRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MolecularDataRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MolecularProfileRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MutationRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/PatientRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/ReferenceGenomeGeneRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/ResourceDataRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/ResourceDefinitionRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/SampleListRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/SampleRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/SignificantCopyNumberRegionRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/SignificantlyMutatedGeneRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/StudyRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/VariantCountRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomRedisCachingProvider.java
  persistence/persistence-api/src/main/resources/applicationContext-ehcache.xml
  persistence/persistence-api/src/main/resources/applicationContext-rediscache.xml
Labels: backend, feature

#7684 semi-manually set recommended docker version
  docs/docker/README.md
  docs/docker/example_commands.md
  docs/docker/import_data.md
  docs/docker/using-keycloak.md
  docs/scripts/update_recommended_docker_version.sh
Labels: devops

#7692 Remove recache_study_after_update, no longer used
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  src/main/resources/portal.properties.EXAMPLE
Labels: cleanup

#7708 remove leftover api-legacy references
  portal/src/main/webapp/WEB-INF/web.xml
  security/security-spring/src/main/resources/applicationContext-security.xml
Labels: bug

#5673 Create separate study view page documentation; Add simple filter description
  docs/FAQ.md
  docs/SUMMARY.md
  docs/study-view/layout.md
  docs/study-view/priority.md
Labels: needs-product-review

#7693 Make docker compose more seamless
  .dockerignore
  README.md
  docker/web-and-data/Dockerfile
  docker/web-and-data/docker-entrypoint.sh
  docs/Deploy-Using-Docker.md
  docs/docker/README.md
  docs/docker/example_commands.md
  docs/docker/import_data.md
  docs/docker/using-keycloak.md
  docs/scripts/update_recommended_docker_version.sh
Labels: devops
