Repository cBioPortal/cbioportal, pull requests merged in 2020-08, with the labels that each got.

#7525 prevent deprecation for embedding of netlify PRs
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
Labels: chore

#7766 Fix import error in tracking_include.jsp
  portal/src/main/webapp/tracking_include.jsp
Labels: automerge, bug

#7768 Document 'reference_genome' in meta study file
  docs/File-Formats.md
Labels: documentation

#7764 Fix error while calculating bins for scientific small numbers
  web/src/main/java/org/cbioportal/web/util/ScientificSmallDataBinner.java
Labels: automerge, ready to review

#7767 add genome nexus annotation sources to portal.properties
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: devops

#7795 Replace http links in docs with https
  docs/About-Us.md
  docs/Authenticating-Users-via-LDAP.md
  docs/Authenticating-Users-via-SAML.md
  docs/Authenticating-Users-via-Tokens.md
  docs/Customizing-your-instance-of-cBioPortal.md
  docs/Data-Loading-Tips-and-Best-Practices.md
  docs/FAQ.md
  docs/File-Formats.md
  docs/Import-Gene-Sets.md
  docs/Import-Study-Using-Docker.md
  docs/Import-reference-genome.md
  docs/News.md
  docs/Onco-Query-Language.md
  docs/Software-Acknowledgments.md
  docs/Software-Requirements.md
  docs/Updating-gene-and-gene_alias-tables.md
  docs/Using-the-dataset-validator.md
  docs/portal.properties-Reference.md
Labels: automerge, chore

#7789 increase genes endpoint page size
  core/src/main/scripts/importer/validateData.py
  web/src/main/java/org/cbioportal/web/GeneController.java
Labels: api, automerge

#7799 Normalized dates in News
  docs/News.md
Labels: automerge, documentation

#7803 Replace two old links in FAQ
  docs/FAQ.md
Labels: bug, documentation

#7796 add chrom size data and script
  core/src/main/scripts/downloadChromosomeSizes.py
  core/src/main/scripts/importer/chromosome_sizes.json
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/study_es_0/result_report.html
Labels: cl-enhancement

#7827 Update to getter method call to match what is in frontend_config.jsp
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
Labels: bug

#7743 Add generic assay enrichments api
  model/src/main/java/org/cbioportal/model/ExpressionEnrichment.java
  model/src/main/java/org/cbioportal/model/GenericAssayEnrichment.java
  model/src/main/java/org/cbioportal/model/GenomicEnrichment.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MolecularDataRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MolecularDataMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MolecularDataMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MolecularDataMapper.xml
  service/src/main/java/org/cbioportal/service/ExpressionEnrichmentService.java
  service/src/main/java/org/cbioportal/service/GenericAssayService.java
  service/src/main/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/GenericAssayServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/ExpressionEnrichmentUtil.java
  service/src/test/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImplTest.java
  web/src/main/java/org/cbioportal/web/ExpressionEnrichmentController.java
  web/src/main/java/org/cbioportal/web/GenericAssayController.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/test/java/org/cbioportal/web/ExpressionEnrichmentControllerTest.java
Labels: automerge, ready to review

#7835 Add duplicate event check after import of Fusions into 'mutation_event' table
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportFusionData.java
Labels: automerge, bug, hotfix

#7838 Treatment endpoints no longer called with sample + study id lists that aren't 1-1
  web/src/main/java/org/cbioportal/web/TreatmentController.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/appliers/PatientTreatmentFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/appliers/SampleTreatmentFilterApplier.java
  web/src/test/java/org/cbioportal/web/util/appliers/PatientTreatmentFilterApplierTest.java
  web/src/test/java/org/cbioportal/web/util/appliers/SampleTreatmentFilterApplierTest.java
Labels: automerge
