Repository cBioPortal/cbioportal, pull requests merged in 2020-02, with the labels that each got.

#7088 Performance optimization for ProfiledCasesCounter
  service/src/main/java/org/cbioportal/service/util/ProfiledCasesCounter.java
Labels: cl-performance

#7101 SV: check if all values are integer before calculating bins
  web/src/main/java/org/cbioportal/web/util/DataBinner.java
  web/src/main/java/org/cbioportal/web/util/LinearDataBinner.java
  web/src/test/java/org/cbioportal/web/util/DataBinnerTest.java
Labels: cl-enhancement

#7069 Public release Jan 28 2020
  docs/News.md
Labels: documentation

#7131 Fixed broken links within CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#7150 New Data public release Feb 12 2020
  docs/News.md
Labels: do not merge

#7166 Increase heading levels to fix FAQ header bugs
  docs/FAQ.md
Labels: bug

#7169 Fix mouse gene importer parsing (vertical bar separator)
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportGeneData.java
Labels: cl-bug

#7206 add version information to the OncoKB data access doc
  docs/OncoKB-Data-Access.md
Labels: documentation

#7209 frontend v3.2.4 + 2 fixes
  pom.xml
Labels: chore

#7204 Fix error while fetching group with StudyViewFilter
  web/src/main/java/org/cbioportal/web/parameter/StudyViewFilter.java
Labels: ready to review

#7216 add mutation exclusion to OQL documentation
  docs/Onco-Query-Language.md
Labels: do not merge

#7141 Add option to remove studies giving study Id
  core/src/main/scripts/importer/cbioportalImporter.py
  docs/Data-Loading-Maintaining-Studies.md
Labels: The Hyve, feature, importer
