Repository cBioPortal/cbioportal, pull requests merged in 2020-10, with the labels that each got.

#7930 Add redission clash warnings
  docs/portal.properties-Reference.md
  src/main/resources/portal.properties.EXAMPLE
Labels: documentation, enhancement

#7929 updated news for Sep 22
  docs/News.md
Labels: documentation

#7927 Update documents for importing GRCh38 MAF data
  docs/docker/import_data.md
Labels: documentation

#7948 Fix bug which causes generic assay data has not been deleted correctly
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoGenericAssay.java
Labels: bug

#7978 change mvn shade plugin version
  scripts/pom.xml
Labels: dependencies

#7963 Oct 16, 2020 public release
  docs/News.md
Labels: do not merge, documentation

#7969 Get ref genome from meta_study instead of command line
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/metaImport.py
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/study_es_0/meta_study.txt
  core/src/test/scripts/test_data/study_quotes/result_report.html
  core/src/test/scripts/test_data/study_various_issues/result_report.html
  core/src/test/scripts/test_data/study_wr_clin/result_report.html
  docs/Support-multiple-reference-genomes.md
  docs/Using-the-dataset-validator.md
  docs/Using-the-metaImport-script.md
Labels: enhancement, validator

#7980 Small update to news.md
  docs/News.md
Labels: documentation

#7982 Fix netlify deploy preview cors header errors
  docs/Deployment-Procedure.md
  portal/src/main/webapp/index.jsp
Labels: devops

#7986 Clean up News
  docs/News.md
Labels: documentation

#7996 Fix comparison for treatment response data
  service/src/main/java/org/cbioportal/service/util/ExpressionEnrichmentUtil.java
Labels: bug

#7821 Remove clinicalTrialKeywords from API
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoTypeOfCancer.java
  core/src/main/java/org/mskcc/cbio/portal/model/TypeOfCancer.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTypesOfCancers.java
  core/src/main/scripts/importer/validateData.py
  core/src/test/java/org/mskcc/cbio/portal/dao/TestDaoCancerStudy.java
  core/src/test/java/org/mskcc/cbio/portal/pancancer/TestPanCancerStudySummaryImport.java
  core/src/test/resources/seed_mini.sql
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/migration.sql
  docs/File-Formats.md
  model/src/main/java/org/cbioportal/model/TypeOfCancer.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/CancerTypeMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/CancerTypeMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/StudyMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  portal/src/main/webapp/WEB-INF/jsp/patient_view/samples_table.jsp
  web/src/main/java/org/cbioportal/web/parameter/sort/CancerTypeSortBy.java
  web/src/test/java/org/cbioportal/web/CancerTypeControllerTest.java
  web/src/test/java/org/cbioportal/web/StudyControllerTest.java
Labels: api

#8011 start of cbioportal performance test github workflow
  .github/workflows/cbioportal-performance-test.yml
Labels: do not merge, do not review

#8010 cbioportal performance test github workflow
  .github/workflows/cbioportal-performance-test.yml
Labels: do not merge
