Repository cBioPortal/cbioportal, pull requests merged in 2020-09, with the labels that each got.

#7856 Fix generic meta endpoint error when fetching by stable ids only
  service/src/main/java/org/cbioportal/service/impl/GenericAssayServiceImpl.java
Labels: bug

#7859 Fix bug in data access token download.
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  docs/Authenticating-Users-via-Tokens.md
  portal/src/main/webapp/config_service.jsp
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/token/oauth2/OAuth2DataAccessTokenServiceImpl.java
  service/src/main/java/org/cbioportal/service/DataAccessTokenService.java
  service/src/main/java/org/cbioportal/service/exception/MaxNumberTokensExceededException.java
  service/src/main/java/org/cbioportal/service/impl/JwtDataAccessTokenServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/UnauthDataAccessTokenServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/UuidDataAccessTokenServiceImpl.java
  service/src/test/java/org/cbioportal/service/impl/UuidDataAccessTokenServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/UuidDataAccessTokenServiceImplTestConfiguration.java
  service/src/test/java/org/cbioportal/service/impl/UuidDataAccessTokenServiceImplTestFiveTokenLimit.java
  src/main/resources/portal.properties.EXAMPLE
  web/src/main/java/org/cbioportal/web/DataAccessTokenController.java
  web/src/main/java/org/cbioportal/web/OAuth2DataAccessTokenController.java
  web/src/main/java/org/cbioportal/web/error/GlobalExceptionHandler.java
Labels: cleanup, ready to review

#7871 Add config option for legacy timeline
  portal/src/main/webapp/config_service.jsp
Labels: skip-changelog

#7902 Updates to fix SerializerException when running EhCache
  model/src/main/java/org/cbioportal/model/ClinicalEventSample.java
  model/src/main/java/org/cbioportal/model/Treatment.java
Labels: bug

#7895 Optimize mutation count by keyword calculation
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoMutation.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java
Labels: backend, enhancement, importer, ready to review

#7913 Add portal configuration properties relating to survival tab
  docs/images/previews/survival_x_axis_limit.png
  docs/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: documentation
