Repository cBioPortal/cbioportal, pull requests merged in 2020-01, with the labels that each got.

#6929 Revise Docker documentation
  docs/docker/README.md
  docs/docker/example_commands.md
  docs/docker/using-keycloak.md
Labels: docker, documentation

#6886 Study view filter updates
  core/src/main/java/org/mskcc/cbio/portal/model/CnaEvent.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/CnaJSON.java
  model/src/main/java/org/cbioportal/model/CNA.java
  web/src/main/java/org/cbioportal/web/parameter/CopyNumberGeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/CopyNumberGeneFilterElement.java
  web/src/main/java/org/cbioportal/web/parameter/FusionGeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/GeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/MutationGeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/RectangleBounds.java
  web/src/main/java/org/cbioportal/web/parameter/StudyViewFilter.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  web/src/test/java/org/cbioportal/web/util/StudyViewFilterApplierTest.java
Labels: ready to review

#6972 Fix typo in show_mskcc_slide_viewer configuration property name
  portal/src/main/webapp/config_service.jsp
Labels: bug

#6980 Disable study cache warming if auth present
  web/src/main/java/org/cbioportal/web/StudyController.java
Labels: bug, ready to review

#7013 Add Spring plugins repository
  pom.xml
Labels: ready to review

#6571 Add documentation for user announcement/messaging
  docs/Release-Procedure.md
Labels: documentation

#6792 Followup revisions for Sample keyword search fixes:
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/SampleMyBatisRepository.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/SampleMyBatisRepositoryTest.java
  web/src/main/java/org/cbioportal/web/SampleController.java
Labels: ready to review, test

#6802 Attach auth header when using oncokb service
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
  portal/src/main/webapp/WEB-INF/web.xml
  src/main/resources/portal.properties.EXAMPLE
  web/src/main/java/org/cbioportal/proxy/ProxyController.java
  web/src/main/java/org/cbioportal/web/config/WebServletContextListener.java
  web/src/main/resources/applicationContext-proxy.xml
Labels: skip-changelog

#6619 make clinical attributes search/filter case insensitive
  web/src/main/java/org/cbioportal/web/util/ClinicalDataEqualityFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/ClinicalDataFilterApplier.java
Labels: enhancement

#6913 Memoize full genome response
  service/src/main/java/org/cbioportal/service/GeneMemoizerService.java
  service/src/main/java/org/cbioportal/service/StaticDataTimestampService.java
  service/src/main/java/org/cbioportal/service/impl/GeneMemoizerServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/StaticDataTimestampServiceImpl.java
  service/src/test/java/org/cbioportal/service/impl/GeneMemoizerServiceTest.java
  web/src/main/java/org/cbioportal/web/ReferenceGenomeGeneController.java
  web/src/main/java/org/cbioportal/web/StaticDataTimestampController.java
  web/src/test/java/org/cbioportal/web/ReferenceGenomeGeneControllerTest.java
  web/src/test/java/org/cbioportal/web/StaticDataTimestampControllerTest.java
  web/src/test/java/org/cbioportal/web/config/CacheMapUtilConfig.java
Labels: do not merge, enhancement

#7015 added a config parameter to indicate whether OncoKB token is defined
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  portal/src/main/webapp/config_service.jsp
Labels: cl-prototype

#7032 Add a check for existing "SV Genetic Profile" during import
  core/src/main/java/org/mskcc/cbio/portal/util/GeneticProfileReader.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportProfileData.java
  core/src/test/resources/splitFusionsData/data_fusions.txt
  core/src/test/resources/splitFusionsData/data_fusions_gml.txt
  core/src/test/resources/splitFusionsData/meta_fusions.txt
  core/src/test/resources/splitFusionsData/meta_fusions_gml.txt
Labels: bug

#7033 Extend valid mRNA expression profile ids
  core/src/main/scripts/importer/allowed_data_types.txt
  core/src/test/scripts/test_data/study_wr_clin/result_report.html
Labels: validator

#7030 Filter enrichments with no mapped gene object
  service/src/main/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImpl.java
Labels: ready to review
