Repository cBioPortal/cbioportal, pull requests merged in 2020-12, with the labels that each got.

#8106 support a non-default MySQL database port in 'mysqladmin ping` command
  docker/web-and-data/docker-entrypoint.sh
Labels: bug

#8099 Compress problematically large request bodies
  core/src/main/java/org/mskcc/cbio/portal/util/GzippedInputStreamRequestWrapper.java
  core/src/main/java/org/mskcc/cbio/portal/util/RequestBodyGZipFilter.java
  core/src/test/java/org/mskcc/cbio/portal/util/TestRequestBodyGZipFilter.java
  docs/portal.properties-Reference.md
  portal/src/main/webapp/WEB-INF/web.xml
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: enhancement

#8108 Filter patient treatments without using sample treatments
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/TreatmentRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/TreatmentMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/TreatmentMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/TreatmentMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/TreatmentMyBatisRepositoryTest.java
  service/src/main/java/org/cbioportal/service/impl/TreatmentServiceImpl.java
  service/src/test/java/org/cbioportal/service/impl/TreatmentServiceImplTest.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
Labels: bug

#8054 Update portal.properties.EXAMPLE and reference docs to document installation map url
  docs/portal.properties-Reference.md
  src/main/resources/portal.properties.EXAMPLE
Labels: documentation

#7949 Update keycloak auth docs to specify how to get jwtRolesPath
  docs/Authenticating-and-Authorizing-Users-via-keycloak.md
  docs/images/previews/oauth2_client_7.png
Labels: documentation

#8071 Update FAQ.md
  docs/FAQ.md
Labels: documentation

#8112 Fix Scripts Jar
  .circleci/config.yml
  scripts/pom.xml
Labels: automerge, bug
