Repository cBioPortal/cbioportal, pull requests merged in 2021-08, with the labels that each got.

#8812 refactor ImportTypesOfCancers
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTypesOfCancers.java
Labels: cleanup, importer

#8821 Fix integration tests
  core/src/test/scripts/test_data/study_es_0/data_cna_discrete.txt
  core/src/test/scripts/test_data/study_es_0/data_fusions.txt
  core/src/test/scripts/test_data/study_es_0/data_gene_panel_testpanel1.txt
  core/src/test/scripts/test_data/study_es_0/data_gene_panel_testpanel2.txt
  core/src/test/scripts/test_data/study_es_0/data_gistic_genes_amp.txt
  core/src/test/scripts/test_data/study_es_0/data_mutations_extended.maf
  core/src/test/scripts/test_data/study_oncokb_import/data_cna_discrete.txt
  core/src/test/scripts/test_data/study_oncokb_import/data_mutations_extended.maf
  test/integration/integration_test_oncokb_import.sh
Labels: test

#8819 Fix validator unit tests matching database cleanup
  core/src/test/scripts/test_data/data_cancertype_blank_color_col.txt
  core/src/test/scripts/test_data/data_cancertype_confirming_existing.txt
  core/src/test/scripts/test_data/data_cancertype_invalid_color.txt
  core/src/test/scripts/test_data/data_cancertype_lung.txt
  core/src/test/scripts/test_data/data_cancertype_lung_twice.txt
  core/src/test/scripts/test_data/data_cancertype_missing_color_col.txt
  core/src/test/scripts/test_data/data_cancertype_redefining.txt
  core/src/test/scripts/test_data/data_cancertype_undefined_parent.txt
  core/src/test/scripts/test_data/meta_study/exceed_maximum_length_meta_attribute_value/meta_study.txt
  core/src/test/scripts/unit_tests_validate_data.py
Labels: bug, validator

#8797 Add user focused download section to docs
  docs/Downloads.md
Labels: documentation

#8807 Add docs on feature development
  docs/README.md
  docs/SUMMARY.md
  docs/feature-development-guide.md
Labels: documentation

#8827 fix 8823 foreign key with multiple names
  core/src/main/scripts/migrate_db.py
  db-scripts/src/main/resources/migration.sql
Labels: bug

#8793 Optimize coexpression endpoint
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MolecularDataRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MolecularDataMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MolecularDataMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MolecularDataMapper.xml
  service/src/main/java/org/cbioportal/service/impl/CoExpressionServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/MolecularDataServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/AppConfig.java
  service/src/main/java/org/cbioportal/service/util/CoExpressionAsyncMethods.java
  service/src/test/java/org/cbioportal/service/impl/CoExpressionServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImplTest.java
  service/src/test/java/org/cbioportal/service/util/CoExpressionAsyncMethodsTest.java
  src/main/resources/portal.properties.EXAMPLE
Labels: performance

#8840 Changed API to accept request body instead of url params to fix issue…
  web/src/main/java/org/cbioportal/web/AlterationDriverAnnotationController.java
  web/src/test/java/org/cbioportal/web/AlterationDriverAnnotationControllerTest.java
Labels: bug

#8842 Fix coexpression optimization multithreading
  service/src/main/java/org/cbioportal/service/impl/CoExpressionServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/AppConfig.java
  service/src/test/java/org/cbioportal/service/util/CoExpressionAsyncMethodsTest.java
Labels: bug

#8845 use new shenandoah image
  docker/web/Dockerfile
Labels: bug

#8853 Fix biojava dependency compile error by removing pdb files
  core/pom.xml
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoPdbUniprotResidueMapping.java
  core/src/main/java/org/mskcc/cbio/portal/model/PdbUniprotAlignment.java
  core/src/main/java/org/mskcc/cbio/portal/model/PdbUniprotResidueMapping.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportPdbUniprotResidueMappingFromMA.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportPdbUniprotResidueMappingFromSifts.java
  core/src/main/java/org/mskcc/cbio/portal/util/PdbFileParser.java
  core/src/main/scripts/convertPdbUniprotMappingFromMaDb.py
  core/src/main/scripts/importPdbUniprotResidueMappingFromMA.pl
  core/src/main/scripts/importPdbUniprotResidueMappingFromSifts.pl
  core/src/main/scripts/prepareEbiSiftsPdbUniprotMappingData.sh
  pom.xml
Labels: cleanup

#8841 Temporary fix for fusion profiled samples
  service/src/main/java/org/cbioportal/service/impl/GenePanelServiceImpl.java
Labels: bug

#8870 Add time to study import timestamp
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoCancerStudy.java
Labels: enhancement

#8862 Create session-service-working.md
  docs/README.md
  docs/SUMMARY.md
  docs/session-service-working.md
Labels: documentation

#8864 Cleanup session-service controller
  web/src/main/java/org/cbioportal/web/SessionServiceController.java
  web/src/main/java/org/cbioportal/web/util/SessionServiceRequestHandler.java
Labels: cleanup
