Repository cBioPortal/cbioportal, pull requests merged in 2021-09, with the labels that each got.

#8882 Fix logging bug introduced by session service upgrade
  utils/pom.xml
  web/pom.xml
Labels: bug

#8881 Update fetchGenericAssayDataCounts endpoint
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterUtil.java
Labels: bug

#8889 Correct cache-assignment in Repository calls
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/AlterationDriverAnnotationRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/DiscreteCopyNumberRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MutationRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/StructuralVariantRepository.java
Labels: bug

#8915 Update News.md
  docs/News.md
Labels: documentation

#8815 Add modal to HTML report to visualize all error/warning values
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/metaImport.py
  core/src/main/scripts/importer/validateData.py
  core/src/main/scripts/importer/validateStudies.py
  core/src/main/scripts/importer/validation_report_template.html.jinja
  core/src/test/scripts/test_data/study_es_0/result_report.html
  core/src/test/scripts/test_data/study_quotes/result_report.html
  core/src/test/scripts/test_data/study_various_issues/result_report.html
  core/src/test/scripts/test_data/study_wr_clin/result_report.html
  docs/Using-the-dataset-validator.md
  docs/Using-the-metaImport-script.md
Labels: enhancement, validator

#8914 clinical density plot api: support log scale for MUTATION_COUNT, and return correlations
  model/src/main/java/org/cbioportal/model/DensityPlotData.java
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/test/java/org/cbioportal/web/StudyViewControllerTest.java
Labels: api

#8888 Study-specific cache eviction
  docs/Caching.md
  docs/portal.properties-Reference.md
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CacheUtils.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomKeyGenerator.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomRedisCache.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomRedisCachingProvider.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/EhCacheUtils.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/RedisCacheUtils.java
  service/src/main/java/org/cbioportal/service/CacheService.java
  service/src/main/java/org/cbioportal/service/exception/CacheOperationException.java
  service/src/main/java/org/cbioportal/service/impl/AlterationCountServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/CacheServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/GenePanelServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/RedisCacheStatisticsServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/StructuralVariantServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/StudyViewServiceImpl.java
  service/src/test/java/org/cbioportal/service/impl/CacheServiceImplTest.java
  web/src/main/java/org/cbioportal/web/CacheController.java
  web/src/main/java/org/cbioportal/web/ClinicalDataEnrichmentController.java
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/error/GlobalExceptionHandler.java
  web/src/main/java/org/cbioportal/web/parameter/GeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/StructuralVariantFilter.java
  web/src/main/java/org/cbioportal/web/util/ClinicalDataEqualityFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/ClinicalDataFetcher.java
  web/src/main/java/org/cbioportal/web/util/ClinicalDataFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/ClinicalDataIntervalFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/CustomDataFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterUtil.java
  web/src/test/java/org/cbioportal/persistence/util/CustomKeyGeneratorTest.java
  web/src/test/java/org/cbioportal/persistence/util/CustomRedisCacheTest.java
  web/src/test/java/org/cbioportal/persistence/util/EhCacheUtilsTest.java
  web/src/test/java/org/cbioportal/persistence/util/RedisCacheUtilsTest.java
  web/src/test/java/org/cbioportal/web/CacheControllerTest.java
Labels: devops

#8901 error to warning for tab-sep detection
  core/src/main/scripts/importer/validateData.py
Labels: enhancement

#8932 Remove check to omit _normals.txt files
  core/src/main/scripts/importer/validateData.py
Labels: enhancement
