Repository cBioPortal/cbioportal, pull requests merged in 2021-11, with the labels that each got.

#9019 Update New Feature Related News since May
  docs/News.md
Labels: documentation

#9027 Fixes Structural Variant Genes Table disappearing issue
  model/src/main/java/org/cbioportal/model/MolecularProfile.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/AlterationMyBatisRepository.java
  service/src/main/java/org/cbioportal/service/impl/SampleServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/StructuralVariantServiceImpl.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
Labels: bug

#9044 Nov 12, 2021 curation public release
  docs/News.md
Labels: documentation

#9049 Add uniprot track to news
  docs/News.md
Labels: documentation

#9056 New data type methylation
  core/src/main/scripts/importer/allowed_data_types.txt
Labels: enhancement

#9054 Migrate Travis tests to Github actions
  .github/settings.xml
  .github/workflows/core-test.yml
  .github/workflows/sanity-check.yml
  .github/workflows/validate-data.yml
  .travis.yml
  CONTRIBUTING.md
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestIntegrationTest.java
  core/src/test/resources/applicationContext-dao.xml
  model/src/main/java/org/cbioportal/model/MolecularProfile.java
  test/end-to-end/README.md
  test/end-to-end/docker-compose.yml
  test/end-to-end/image-compare/index.html
  test/end-to-end/image-compare/js/main.js
  test/end-to-end/runtime-config/portal.properties
  test/end-to-end/screenshots.yml
  test/end-to-end/screenshots/chrome/patient_view_lgg_ucsf_2014_case_id_P04.png
  test/end-to-end/screenshots/chrome/study_view_lgg_ucsf_2014.png
  test/end-to-end/screenshots/firefox/patient_view_lgg_ucsf_2014_case_id_P04.png
  test/end-to-end/screenshots/firefox/study_view_lgg_ucsf_2014.png
  test/end-to-end/selenium_screenshot.py
  test/end-to-end/test_make_screenshots.sh
  web/src/test/java/org/cbioportal/web/StudyControllerTest.java
  web/src/test/java/org/cbioportal/web/StudyViewControllerTest.java
Labels: test
