Repository cBioPortal/cbioportal, pull requests merged in 2021-12, with the labels that each got.

#9083 Documentation and validation for timeline data-driven shapes and colors
  core/src/main/scripts/importer/validateData.py
  docs/File-Formats.md
Labels: documentation

#9092 Fix validation of resource data for patient
  core/src/main/scripts/importer/validateData.py
Labels: bug

#9103 Optimization to ProfiledCasesCounter when counting profiled samples.
  service/src/main/java/org/cbioportal/service/util/AlterationEnrichmentUtil.java
  service/src/main/java/org/cbioportal/service/util/ProfiledCasesCounter.java
  service/src/test/java/org/cbioportal/service/util/ProfiledCasesCounterTest.java
Labels: cl-performance

#9086 Add namespace data to study_es_0
  core/src/main/java/org/mskcc/cbio/maf/MafRecord.java
  core/src/main/java/org/mskcc/cbio/maf/MafUtil.java
  core/src/main/java/org/mskcc/cbio/maf/ValueTypeUtil.java
  core/src/main/java/org/mskcc/cbio/portal/model/AlleleSpecificCopyNumber.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java
  core/src/main/java/org/mskcc/cbio/portal/util/GeneticProfileReader.java
  core/src/main/scripts/importer/validateData.py
  core/src/test/java/org/mskcc/cbio/portal/util/TestMafUtil.java
  core/src/test/scripts/test_data/mutations/data_mutations_missing_zygosity_status_column.maf
  core/src/test/scripts/test_data/study_es_0/case_lists/cases_sequenced.txt
  core/src/test/scripts/test_data/study_es_0/data_clinical_patients.txt
  core/src/test/scripts/test_data/study_es_0/data_clinical_samples.txt
  core/src/test/scripts/test_data/study_es_0/data_mutations_extended.maf
  core/src/test/scripts/test_data/study_es_0/meta_mutations_extended.txt
  core/src/test/scripts/test_data/study_es_0/result_report.html
  core/src/test/scripts/unit_tests_validate_data.py
  docs/File-Formats.md
  docs/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: enhancement

#9116 Update log4j dependencies
  core/pom.xml
  pom.xml
Labels: dependencies

#9109 Turn off aspectj logging by default to improve request processing time.
  src/main/resources/portal.properties.EXAMPLE
  web/src/main/java/org/cbioportal/logging/LoggingAspect.java
Labels: cl-performance

#9133 Fix typo in property name (cache.endpoing.enabled)
  docs/portal.properties-Reference.md
Labels: documentation

#9121 Remove log4j 1.x and upgrade to log4j 2.16
  core/src/main/java/org/mskcc/cbio/portal/model/LinkOutRequest.java
  core/src/main/java/org/mskcc/cbio/portal/model/Patient.java
  core/src/main/java/org/mskcc/cbio/portal/mut_diagram/Pileup.java
  core/src/main/java/org/mskcc/cbio/portal/mut_diagram/impl/CacheFeatureService.java
  core/src/main/java/org/mskcc/cbio/portal/mut_diagram/impl/CgdsIdMappingService.java
  core/src/main/java/org/mskcc/cbio/portal/mut_diagram/impl/PfamGraphicsCacheLoader.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/CheckDarwinAccessServlet.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/CnaJSON.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/CrossCancerJSON.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/DrugsJSON.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/OmaRedirectServlet.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/PatientView.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/SimilarPatientsJSON.java
  core/src/main/java/org/mskcc/cbio/portal/servlet/WebService.java
  core/src/main/java/org/mskcc/cbio/portal/util/ProgressMonitor.java
  core/src/main/java/org/mskcc/cbio/portal/util/ServerDetector.java
  pom.xml
  portal/src/org/mskcc/portal/oncotator/OncotatorService.java
  src/main/resources/log4j.properties.EXAMPLE
  web/pom.xml
  web/src/main/java/org/cbioportal/logging/LoggingAspect.java
Labels: dependencies
