Repository cBioPortal/cbioportal, pull requests merged in 2021-04, with the labels that each got.

#8495 Mutation: query independently for each profile
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MutationMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MutationMyBatisRepository.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/MutationMyBatisRepositoryTest.java
Labels: automerge, bug

#8498 Add enrichment analysis test name depending on groups size
  web/src/main/java/org/cbioportal/web/util/ClinicalDataEnrichmentUtil.java
  web/src/test/java/org/cbioportal/web/util/ClinicalDataEnrichmentUtilTest.java
Labels: automerge, cl-enhancement

#8402 Change several api endpoints to be for internal use only
  web/src/main/java/org/cbioportal/web/ClinicalAttributeController.java
  web/src/main/java/org/cbioportal/web/ClinicalAttributeCountController.java
  web/src/main/java/org/cbioportal/web/ClinicalEventController.java
  web/src/main/java/org/cbioportal/web/DiscreteCopyNumberController.java
  web/src/main/java/org/cbioportal/web/DiscreteCopyNumberCountController.java
  web/src/main/java/org/cbioportal/web/MutationController.java
  web/src/main/java/org/cbioportal/web/MutationCountController.java
  web/src/main/java/org/cbioportal/web/ReferenceGenomeGeneController.java
  web/src/main/java/org/cbioportal/web/ResourceDataController.java
  web/src/main/java/org/cbioportal/web/ResourceDefinitionController.java
  web/src/main/java/org/cbioportal/web/config/InternalApiTags.java
  web/src/main/java/org/cbioportal/web/config/PublicApiTags.java
  web/src/main/java/org/cbioportal/web/config/SwaggerConfig.java
Labels: cleanup

#8499 Return empty response instead of 401 while fetching virtual studies
  web/src/main/java/org/cbioportal/web/SessionServiceController.java
Labels: cl-enhancement

#7597 Fusion sv migration
  model/src/main/java/org/cbioportal/model/MolecularProfile.java
  model/src/main/java/org/cbioportal/model/StructuralVariant.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/StructuralVariantRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/AlterationCountsMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/AlterationMyBatisRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/StructuralVariantMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/StructuralVariantMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/AlterationCountsMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MutationMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/StructuralVariantMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/StructuralVariantMyBatisRepositoryTest.java
  service/src/main/java/org/cbioportal/service/AlterationCountService.java
  service/src/main/java/org/cbioportal/service/ExpressionEnrichmentService.java
  service/src/main/java/org/cbioportal/service/MolecularProfileService.java
  service/src/main/java/org/cbioportal/service/StructuralVariantService.java
  service/src/main/java/org/cbioportal/service/impl/AlterationCountServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/AlterationEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/CopyNumberEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/GenePanelServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/MolecularDataServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/MolecularProfileServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/MutationEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/StructuralVariantServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/AlterationEnrichmentUtil.java
  service/src/main/java/org/cbioportal/service/util/ExpressionEnrichmentUtil.java
  service/src/main/java/org/cbioportal/service/util/MutationMapperUtils.java
  service/src/main/java/org/cbioportal/service/util/VariantType.java
  service/src/test/java/org/cbioportal/service/impl/AlterationCountServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/AlterationEnrichmentServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/StructuralVariantServiceImplTest.java
  service/src/test/java/org/cbioportal/service/util/AlterationEnrichmentUtilTest.java
  web/src/main/java/org/cbioportal/web/ClinicalDataEnrichmentController.java
  web/src/main/java/org/cbioportal/web/CopyNumberEnrichmentController.java
  web/src/main/java/org/cbioportal/web/ExpressionEnrichmentController.java
  web/src/main/java/org/cbioportal/web/MutationController.java
  web/src/main/java/org/cbioportal/web/MutationEnrichmentController.java
  web/src/main/java/org/cbioportal/web/StructuralVariantController.java
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/parameter/AlterationEventTypeFilter.java
  web/src/main/java/org/cbioportal/web/parameter/GeneFilter.java
  web/src/main/java/org/cbioportal/web/parameter/MutationFilter.java
  web/src/main/java/org/cbioportal/web/parameter/MutationMultipleStudyFilter.java
  web/src/main/java/org/cbioportal/web/parameter/StructuralVariantFilter.java
  web/src/main/java/org/cbioportal/web/util/ClinicalDataEqualityFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/ClinicalDataFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/ClinicalDataIntervalFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/CustomDataFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterUtil.java
  web/src/test/java/org/cbioportal/web/ExpressionEnrichmentControllerTest.java
  web/src/test/java/org/cbioportal/web/StructuralVariantControllerTest.java
  web/src/test/java/org/cbioportal/web/StudyViewControllerTest.java
  web/src/test/java/org/cbioportal/web/util/StudyViewFilterApplierTest.java
Labels: feature

#8537 curation public release 4/21/2021
  docs/News.md
Labels: documentation

#8558 SV: Proper handle intragenic variant type
  service/src/main/java/org/cbioportal/service/util/MutationMapperUtils.java
Labels: bug
