Repository cBioPortal/cbioportal, pull requests merged in 2021-02, with the labels that each got.

#8321 remove Ziya Erkoc and add M. Salih Altun
  docs/About-Us.md
Labels: automerge, documentation

#8320 Fix invoker plugin goals
  portal/pom.xml
Labels: bug

#8325 Pick appropriate profiles for mutated-genes api
  web/src/main/java/org/cbioportal/web/StudyViewController.java
Labels: automerge, bug

#8329 update pathways tutorial pdf
  docs/tutorials/cBioPortal Tutorial 7 Pathways.pdf
Labels: documentation

#8327 Pick appropriate profiles for fusion-genes api
  web/src/main/java/org/cbioportal/web/StudyViewController.java
Labels: automerge, bug

#8331 Clarify in file-formats that hg38 segmented data is supported
  docs/File-Formats.md
Labels: documentation

#8339 Make console logging default
  src/main/resources/log4j.properties.EXAMPLE
Labels: enhancement

#8351 Fix library dependency issue causing login error
  pom.xml
Labels: bug, dependencies

#8356 update pathways tutorial pdf
  docs/tutorials/cBioPortal Tutorial 7 Pathways.pdf
Labels: documentation

#8360 Update slf4j-api dependency version
  pom.xml
Labels: automerge, dependencies

#8332 Include profile ids while querying for alteration counts
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/AlterationCountsMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/AlterationMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/AlterationCountsMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/AlterationMyBatisRepositoryTest.java
Labels: bug

#8364 Add note for generic assay features which are under development
  docs/File-Formats.md
Labels: documentation

#8363 Use a specific version of the session service artifact
  pom.xml
Labels: cleanup

#8365 remove q about network tab
  docs/FAQ.md
Labels: documentation

#8366 update FAQ about z-scores
  docs/FAQ.md
Labels: documentation
