Repository cBioPortal/cbioportal, pull requests merged in 2021-06, with the labels that each got.

#8650 Converted AlterationMyBatisRepository.java unique collections to sets
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MolecularDataRepository.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/MolecularProfileRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/AlterationMyBatisRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MolecularDataMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MolecularDataMyBatisRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MolecularProfileMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/MolecularProfileMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MolecularDataMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MolecularProfileMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/MolecularDataMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/MolecularProfileMyBatisRepositoryTest.java
  service/src/main/java/org/cbioportal/service/MolecularProfileService.java
  service/src/main/java/org/cbioportal/service/impl/GenericAssayServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/MolecularDataServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/MolecularProfileServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/AlterationEnrichmentUtil.java
  service/src/test/java/org/cbioportal/service/impl/GenericAssayServiceImpTest.java
  service/src/test/java/org/cbioportal/service/impl/MolecularProfileServiceImplTest.java
  web/src/main/java/org/cbioportal/web/parameter/MolecularProfileFilter.java
Labels: cleanup

#8460 Doc update related HGNC-based gene table update
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportGeneData.java
  docs/Updating-gene-and-gene_alias-tables.md
Labels: do not merge, documentation

#8672 Add `no-transaction` argument to migrate_db.py
  core/src/main/scripts/migrate_db.py
Labels: cl-enhancement

#8681 Export namespace columns through Mutations endpoint
  docs/File-Formats.md
  model/pom.xml
  model/src/main/java/org/cbioportal/model/Mutation.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MutationMapper.xml
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  web/src/main/java/org/cbioportal/web/mixin/MutationMixin.java
  web/src/test/java/org/cbioportal/web/MutationControllerTest.java
Labels: enhancement

#8692 Allow NA for MUTATION_STATUS field in /filtered-samples endpoint
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/AlterationCountsMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/MutationMapper.xml
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/StructuralVariantMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/AlterationMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/MutationMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
Labels: bug

#8691 Optimize fetching structural varaints
  service/src/main/java/org/cbioportal/service/impl/GeneServiceImpl.java
  service/src/main/java/org/cbioportal/service/impl/StructuralVariantServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/MutationMapperUtils.java
  service/src/test/java/org/cbioportal/service/util/MutationMapperUtilsTest.java
Labels: performance

#8656 Remove app.name configuration checks
  docs/portal.properties-Reference.md
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomRedisCachingProvider.java
  persistence/persistence-api/src/main/resources/applicationContext-rediscache.xml
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: devops

#8704 Update News
  docs/News.md
Labels: documentation

#8717 Update News.md
  docs/News.md
Labels: documentation

#8677 Remove NA value from Generic Assay Data endpoints
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/unit_tests_validate_data.py
  docs/File-Formats.md
  web/src/main/java/org/cbioportal/web/GenericAssayController.java
  web/src/test/java/org/cbioportal/web/GenericAssayControllerTest.java
Labels: enhancement
