Repository cBioPortal/cbioportal, pull requests merged in 2022-11, with the labels that each got.

#9874 Frontend v5.1.6
  pom.xml
Labels: skip-changelog

#9867 fix typo frontend config
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
Labels: bug

#9882 Add validation for the new CNA Long Format (with custom namespace columns)
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/data_cna_long_duplicated_entrez.txt
  core/src/test/scripts/test_data/data_cna_long_duplicated_gene.txt
  core/src/test/scripts/test_data/data_cna_long_genecol_no_custom_driver.txt
  core/src/test/scripts/test_data/data_cna_long_genecol_no_namespace.txt
  core/src/test/scripts/test_data/data_cna_long_genecol_no_sample_id.txt
  core/src/test/scripts/test_data/data_cna_long_genecol_no_value.txt
  core/src/test/scripts/test_data/data_cna_long_genecol_presence_all.txt
  core/src/test/scripts/test_data/data_cna_long_genecol_presence_entrez_only.txt
  core/src/test/scripts/test_data/data_cna_long_genecol_presence_hugo_only.txt
  core/src/test/scripts/test_data/data_cna_long_genecol_presence_neither_genic.txt
  core/src/test/scripts/test_data/data_cna_long_invalid_values.txt
  core/src/test/scripts/test_data/data_cna_long_one_hugo_same_gene.txt
  core/src/test/scripts/test_data/data_cna_long_two_hugos_same_gene.txt
  core/src/test/scripts/unit_tests_validate_data.py
Labels: validator, cl-prototype

#9892 Update SV file format Typo
  docs/File-Formats.md
Labels: documentation

#9896 Implement /clinical-data-table/fetch endpoint for Study View
  model/src/main/java/org/cbioportal/model/ClinicalDataCollection.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/ClinicalDataRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/ClinicalDataMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/ClinicalDataMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/ClinicalDataMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/ClinicalDataMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  service/src/main/java/org/cbioportal/service/ClinicalDataService.java
  service/src/main/java/org/cbioportal/service/impl/ClinicalDataServiceImpl.java
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/interceptor/UniqueKeyInterceptor.java
  web/src/main/java/org/cbioportal/web/parameter/PagingConstants.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/test/java/org/cbioportal/web/ClinicalDataControllerTest.java
  web/src/test/java/org/cbioportal/web/StudyViewControllerTest.java
  web/src/test/java/org/cbioportal/web/util/ClinicalDataEnrichmentUtilTest.java
Labels: performance

#9878 [RFC 65] Add custom namespace columns to CNA
  core/src/main/java/org/mskcc/cbio/maf/MafUtil.java
  core/src/main/java/org/mskcc/cbio/maf/NamespaceColumnParser.java
  core/src/main/java/org/mskcc/cbio/portal/dao/DaoCnaEvent.java
  core/src/main/java/org/mskcc/cbio/portal/model/CnaEvent.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportCnaDiscreteLongData.java
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportProfileData.java
  core/src/main/java/org/mskcc/cbio/portal/util/CnaUtil.java
  core/src/main/scripts/importer/cbioportalImporter.py
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportCnaDiscreteLongData.java
  core/src/test/resources/data_cna_discrete_import_test_with_namespaces.txt
  core/src/test/resources/data_cna_discrete_import_test_with_namespaces2.txt
  core/src/test/scripts/test_data/study_es_0/data_cna_discrete.txt
  core/src/test/scripts/test_data/study_es_0/meta_cna_discrete.txt
  db-scripts/src/main/resources/cgds.sql
  db-scripts/src/main/resources/migration.sql
  model/src/main/java/org/cbioportal/model/DiscreteCopyNumberData.java
  model/src/main/java/org/cbioportal/model/MolecularProfile.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/DiscreteCopyNumberMapper.xml
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  pom.xml
  service/src/main/java/org/cbioportal/service/impl/DiscreteCopyNumberServiceImpl.java
  service/src/test/java/org/cbioportal/service/impl/DiscreteCopyNumberServiceImplTest.java
  web/src/main/java/org/cbioportal/web/config/CustomObjectMapper.java
  web/src/main/java/org/cbioportal/web/mixin/DiscreteCopyNumberDataMixin.java
  web/src/test/java/org/cbioportal/web/DiscreteCopyNumberControllerTest.java
Labels: feature, database, importer, backend

#9906 Move maf util to own artifact
  core/pom.xml
  maf/pom.xml
  maf/src/main/java/org/mskcc/cbio/maf/MafHeaderUtil.java
  maf/src/main/java/org/mskcc/cbio/maf/MafRecord.java
  maf/src/main/java/org/mskcc/cbio/maf/MafUtil.java
  maf/src/main/java/org/mskcc/cbio/maf/NamespaceColumnParser.java
  maf/src/main/java/org/mskcc/cbio/maf/TabDelimitedFileUtil.java
  maf/src/main/java/org/mskcc/cbio/maf/ValueTypeUtil.java
  pom.xml
Labels: backend
