Repository cBioPortal/cbioportal, pull requests merged in 2022-12, with the labels that each got.

#9808 Fix logging errors in core
  core/pom.xml
  core/src/test/resources/logback.xml
  persistence/persistence-mybatis/src/test/resources/logback.xml
  pom.xml
  scripts/pom.xml
Labels: dependencies

#9917 Frontend v5.2.0
  pom.xml
Labels: skip-changelog

#9924 Update docs on custom namespaces and cna long format
  docs/File-Formats.md
Labels: documentation

#9890 Docker image upgrade (eclipse-temurin-11) and arm64 support
  .editorconfig
  .github/workflows/dockerimage.yml
  .github/workflows/integration-test.yml
  docker/web-and-data/Dockerfile
  docker/web/Dockerfile
Labels: devops

#9928 Fix entrezID not changed upon HUGO recognition in structural variants
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportStructuralVariantData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportProfileData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportStructuralVariantData.java
  core/src/test/resources/data_structural_variants.txt
Labels: bug

#9884 Edit pd annot validation: remove None element from entrez ids set
  core/src/main/scripts/importer/validateData.py
Labels: bug

#9898 Update About-Us.md
  docs/About-Us.md
Labels: documentation

#9939 Create a new database versioning documentation
  docs/Database-Versioning.md
  docs/Release-Procedure.md
  docs/SUMMARY.md
Labels: documentation, ready to review

#9249 Create Curation Guide
  docs/Study-Curation-Guide.md
Labels: documentation
