Repository cBioPortal/cbioportal, pull requests merged in 2022-01, with the labels that each got.

#9145 Add config param to customize single vs multi oncokb icons
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: devops

#9102 fix bug in importer and revisit ref genome in validator
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/test_data/study_es_0/result_report.html
  core/src/test/scripts/test_data/study_quotes/result_report.html
Labels: bug

#9170 Fixes divide by zero events on the study view page
  service/src/main/java/org/cbioportal/service/util/ProfiledCasesCounter.java
  service/src/test/java/org/cbioportal/service/util/ProfiledCasesCounterTest.java
Labels: cl-bug

#9172 frontend v3.7.22
  pom.xml
Labels: skip-changelog

#9194 Remove vcf2maf references when starting with MAF file
  docs/File-Formats.md
Labels: documentation

#9195 Removed documentation for outdated columns SPECIMEN_REFERENCE_NUMBER …
  docs/File-Formats.md
Labels: documentation

#9176 Curation Public Release Jan 4 2022
  docs/News.md
Labels: documentation

#9204 Add cbio_py to documentation
  docs/API-and-API-Clients.md
Labels: documentation
