Repository cBioPortal/cbioportal, pull requests merged in 2022-05, with the labels that each got.

#9501 Frontend v4.1.5
  pom.xml
Labels: skip-changelog

#9405 Mar 23, 2022 curation public release
  docs/News.md
Labels: documentation, do not merge

#9507 Add show.ndex property
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: devops

#9264 add abbreviations to FAQ
  docs/FAQ.md
Labels: documentation

#9457 Updates to API endpoints (SV, Generic Assay, Gene Panel)
  web/src/main/java/org/cbioportal/web/GenePanelController.java
  web/src/main/java/org/cbioportal/web/GenePanelDataController.java
  web/src/main/java/org/cbioportal/web/GenericAssayController.java
  web/src/main/java/org/cbioportal/web/GenericAssayDataController.java
  web/src/main/java/org/cbioportal/web/InfoController.java
  web/src/main/java/org/cbioportal/web/ServerStatusController.java
  web/src/main/java/org/cbioportal/web/StructuralVariantController.java
  web/src/main/java/org/cbioportal/web/config/InternalApiTags.java
  web/src/main/java/org/cbioportal/web/config/PublicApiTags.java
  web/src/main/java/org/cbioportal/web/config/SwaggerConfig.java
  web/src/test/java/org/cbioportal/web/GenePanelControllerTest.java
  web/src/test/java/org/cbioportal/web/GenePanelDataControllerTest.java
  web/src/test/java/org/cbioportal/web/GenericAssayControllerTest.java
  web/src/test/java/org/cbioportal/web/GenericAssayDataControllerTest.java
Labels: api

#9537 Document Logback config, improve usage
  .gitignore
  core/pom.xml
  docs/Authenticating-Users-via-SAML.md
  docs/Authenticating-and-Authorizing-Users-via-keycloak.md
  docs/Pre-Build-Steps.md
  pom.xml
  portal/pom.xml
  portal/src/main/webapp/WEB-INF/web.xml
  scripts/pom.xml
  src/main/resources/log4j.properties.EXAMPLE
Labels: devops, backend

#9544 Frontend v4.1.7
  pom.xml
Labels: skip-changelog

#9514 Fix calculation of quartile values for study view data binning
  web/src/main/java/org/cbioportal/web/util/DataBinHelper.java
  web/src/main/java/org/cbioportal/web/util/DataBinner.java
  web/src/main/java/org/cbioportal/web/util/LinearDataBinner.java
  web/src/test/java/org/cbioportal/web/util/DataBinHelperTest.java
  web/src/test/java/org/cbioportal/web/util/DataBinnerMocker.java
  web/src/test/java/org/cbioportal/web/util/DataBinnerTest.java
Labels: bug

#9567 Frontend v4.1.8
  pom.xml
Labels: skip-changelog

#8529 Implement skin.hide_download_controls property
  docs/Customizing-your-instance-of-cBioPortal.md
  docs/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: enhancement
