Repository cBioPortal/cbioportal, pull requests merged in 2022-09, with the labels that each got.

#9791 Update minor version description
  docs/Release-Procedure.md
Labels: documentation

#9793 Always load frontend in https when localdev is true
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
Labels: skip-changelog

#9799 Fix errors when importing data with empty Start_Position or End_Position
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/unit_tests_validate_data.py
  docs/File-Formats.md
Labels: bug

#9806 Update SV File Format Documentation
  docs/File-Formats.md
Labels: documentation

#9803 If invalid Entrez gene id in SV file replace id with null
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportStructuralVariantData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportProfileData.java
  core/src/test/java/org/mskcc/cbio/portal/scripts/TestImportStructuralVariantData.java
  core/src/test/resources/data_structural_variants.txt
Labels: bug

#9815 Fixing resource definition importer and updating file format
  core/src/main/java/org/mskcc/cbio/portal/scripts/ImportResourceDefinition.java
  docs/File-Formats.md
Labels: bug
