Repository cBioPortal/cbioportal, pull requests merged in 2022-10, with the labels that each got.

#9846 Update news.md
  docs/News.md
  portal/src/main/webapp/WEB-INF/jsp/global/.DS_Store
Labels: documentation

#9854 Validator: clarify SV error
  core/src/main/scripts/importer/validateData.py
  core/src/test/scripts/unit_tests_validate_data.py
Labels: validator

#9861 Use Apache Commons Text 1.10 to mitigate CVE-2022-42889
  pom.xml
Labels: security, dependencies

#9838 Add canonical transcript assignment info to docs
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  docs/Migration-Guide.md
  docs/SUMMARY.md
  docs/deployment/customization/portal.properties-Reference.md
  docs/mutation-data-transcript-annotation.md
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: documentation

#9863 Add journal names to news update
  docs/News.md
Labels: documentation

#9858 Raise warning when all Site 1 and Site 2 SV Entrez Gene Ids or Hugo Symbols are not known by cBioPortal
  core/src/main/scripts/importer/validateData.py
Labels: bug, validator
