Repository cBioPortal/cbioportal, pull requests merged in 2022-08, with the labels that each got.

#9721 Add key value to null cache warning
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/CustomRedisCache.java
Labels: devops

#9546 Add Migration Guide
  docs/Migration-Guide.md
Labels: documentation

#9723 Frontend v4.1.18
  pom.xml
Labels: skip-changelog

#9709 Rename oncoprint clinical tracks config property
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  docs/deployment/customization/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: enhancement

#9719 Rename oncoprint clinical tracks config property
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  docs/deployment/customization/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: do not merge

#9727 Add config property for clinical tab
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: devops

#9735 Merge master to release-5.0.0
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  docs/Migration-Guide.md
  docs/SUMMARY.md
  docs/deployment/customization/portal.properties-Reference.md
  pom.xml
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: skip-changelog

#9732 Update migration guide and add documentation for session service management
  docs/Migration-Guide.md
  docs/Session-Service-Management.md
Labels: documentation

#9747 Add back New Users page to documentation site
  docs/SUMMARY.md
  docs/user-guide/new-users.md
Labels: documentation

#9750 Fix stable id typo in docs on SV data
  docs/File-Formats.md
Labels: documentation

#9751 update accepted panel list in validator
  core/src/main/scripts/importer/validateData.py
Labels: validator

#9759 Add additional swagger UI redirects
  web/src/main/java/org/cbioportal/web/DocRedirectController.java
Labels: enhancement

#9761 Fix broken quick link on docs homepage
  docs/README.md
Labels: documentation

#9768 Fix another XSS
  core/src/main/java/org/mskcc/cbio/portal/util/UrlParamFilter.java
  core/src/test/java/org/mskcc/cbio/portal/util/UrlParamFilterTest.java
  portal/src/main/webapp/WEB-INF/web.xml
Labels: security

#9770 fix user guide links to old tutorials page
  docs/user-guide/by-page.md
  docs/user-guide/new-users.md
  docs/user-guide/oql.md
  docs/user-guide/overview.md
Labels: documentation

#9776 Update resource file formats
  docs/File-Formats.md
Labels: documentation

#9784 in docs fix edit on github url
  docs/retype.yml
  retype.yml
Labels: documentation

#9767 Add the base path to controller redirects
  web/src/main/java/org/cbioportal/web/DocRedirectController.java
  web/src/test/java/org/cbioportal/web/DocRedirectControllerTest.java
Labels: bug
