Repository cBioPortal/cbioportal, pull requests merged in 2022-07, with the labels that each got.

#9651 add download data how-to video
  docs/user-guide/overview.md
Labels: documentation

#9640 Remove hotspots url property as dead code
  src/main/resources/portal.properties.EXAMPLE
  web/src/main/java/org/cbioportal/proxy/LegacyProxyController.java
Labels: cleanup

#9453 Improve saml parsing logging
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/saml/SAMLUserDetailsServiceImpl.java
Labels: devops

#9604 update mysqlclient for python 3.10
  requirements.txt
Labels: dependencies

#9666 Release v4.1.15
  pom.xml
Labels: skip-changelog

#9642 Upgrade Springfox
  model/pom.xml
  persistence/persistence-api/pom.xml
  pom.xml
  security/security-spring/src/main/resources/applicationContext-security.xml
  src/main/resources/springfox.properties
  web/pom.xml
  web/src/main/java/org/cbioportal/web/DocRedirectController.java
  web/src/main/java/org/cbioportal/web/config/SwaggerConfig.java
  web/src/main/resources/applicationContext-web.xml
Labels: security

#9682 release v4.1.16
  pom.xml
Labels: skip-changelog

#9680 Do not run studyIdHasTreatments() more than neccesary
  service/src/main/java/org/cbioportal/service/impl/TreatmentServiceImpl.java
Labels: performance

#9656 Update minimal MAF format documentation
  docs/File-Formats.md
Labels: documentation

#9692 Remove NCBI-Build from minimal MAF format
  docs/File-Formats.md
Labels: documentation

#9450 Implement Session Service 'user settings' for Results View
  web/src/main/java/org/cbioportal/web/SessionServiceController.java
  web/src/main/java/org/cbioportal/web/parameter/ClinicalTrackConfig.java
  web/src/main/java/org/cbioportal/web/parameter/PageSettingsData.java
  web/src/main/java/org/cbioportal/web/parameter/ResultsPageSettings.java
  web/src/main/java/org/cbioportal/web/parameter/SessionPage.java
Labels: enhancement

#9711 Update news.md
  docs/News.md
Labels: documentation
