Repository cBioPortal/cbioportal, pull requests merged in 2023-08, with the labels that each got.

#10305 Allow Redis service unavailable when Redis is enabled
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/config/RedisConfig.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/util/LoggingCacheErrorHandler.java
Labels: bug

#10312 Update two-sided fisher tests news
  docs/News.md
Labels: documentation

#10300 Genomic data counts study-view endpoint
  model/src/main/java/org/cbioportal/model/GenomicDataCountItem.java
  service/src/main/java/org/cbioportal/service/StudyViewService.java
  service/src/main/java/org/cbioportal/service/impl/StudyViewServiceImpl.java
  service/src/test/java/org/cbioportal/service/impl/BaseServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/StudyViewServiceImplTest.java
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/parameter/GenomicDataCountFilter.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterUtil.java
  web/src/test/java/org/cbioportal/web/StudyViewControllerTest.java
Labels: api

#10292 Update about us page
  docs/About-Us.md
Labels: documentation

#10309 Add defaults for genomic evolution tab in patient view
  docs/deployment/customization/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: devops

#10196 Update About-Us.md
  docs/About-Us.md
Labels: documentation

#10329 Add label check test for pull request
  .github/workflows/label-check.yml
Labels: devops

#10331 Frontend v5.3.18
  pom.xml
Labels: skip-changelog

#10333 Add `show_web_tours` for Interactive Web Tour
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  docs/deployment/customization/Customizing-your-instance-of-cBioPortal.md
  docs/deployment/customization/portal.properties-Reference.md
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
  portal/src/main/webapp/config_service.jsp
Labels: devops

#10303 (GSoC) Generic Assay Categorical/Binary data implementation Backend
  model/src/main/java/org/cbioportal/model/GenericAssayBinaryEnrichment.java
  model/src/main/java/org/cbioportal/model/GenericAssayCategoricalEnrichment.java
  model/src/main/java/org/cbioportal/model/GenericAssayCountSummary.java
  model/src/main/java/org/cbioportal/model/GenericAssayEnrichment.java
  service/src/main/java/org/cbioportal/service/ExpressionEnrichmentService.java
  service/src/main/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImpl.java
  service/src/main/java/org/cbioportal/service/util/ExpressionEnrichmentUtil.java
  service/src/main/java/org/cbioportal/service/util/FisherExactTestCalculator.java
  service/src/test/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImplTest.java
  service/src/test/java/org/cbioportal/service/impl/GenericAssayEnrichmentServiceImplTest.java
  web/src/main/java/org/cbioportal/web/ExpressionEnrichmentController.java
  web/src/main/java/org/cbioportal/web/GenericAssayEnrichmentController.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/test/java/org/cbioportal/web/ExpressionEnrichmentControllerTest.java
Labels: api, gsoc

#10335 Generic assay binary types
  service/src/main/java/org/cbioportal/service/util/ExpressionEnrichmentUtil.java
Labels: gsoc

#10328 Add Data Release News for Aug 15th
  docs/News.md
Labels: documentation

#10342 Frontend v5.3.19
  pom.xml
Labels: skip-changelog

#10037 Configure database connection via db.connection_string param
  .github/workflows/integration-test.yml
  core/src/main/java/org/mskcc/cbio/portal/dao/JdbcDataSource.java
  core/src/main/java/org/mskcc/cbio/portal/util/DatabaseProperties.java
  core/src/main/java/org/mskcc/cbio/portal/util/SpringUtil.java
  core/src/main/scripts/importer/cbioportalImporter.py
  core/src/main/scripts/importer/cbioportal_common.py
  core/src/main/scripts/importer/updateOncokbAnnotations.py
  core/src/main/scripts/migrate_db.py
  docker/web-and-data/docker-entrypoint.sh
  docs/Migration-Guide.md
  docs/deployment/customization/portal.properties-Reference.md
  pom.xml
  portal/pom.xml
  portal/src/integration-tests/saml-oauth2-setup/pom.xml
  src/main/resources/portal.properties.EXAMPLE
  test/integration/docker-compose-localbuild.yml
  web/src/main/java/org/cbioportal/web/config/WebServletContextListener.java
Labels: devops

#10349 add miguel brown to about
  docs/About-Us.md
Labels: documentation

#10358 Frontend v5.4.0
  pom.xml
Labels: skip-changelog

#10336 Add json prop for custom patient view sample type colors
  core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java
  docs/deployment/customization/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
Labels: devops
