Repository cBioPortal/cbioportal, pull requests merged in 2023-09, with the labels that each got.

#10235 Fixed an error in naming alleles for the mutation file checks in SNP, DNP, and TNP
  core/src/main/scripts/importer/validateData.py
Labels: validator

#10353 Fix disabling SSL for MySQL connection
  core/src/main/scripts/importer/cbioportal_common.py
Labels: bug

#10365 Improve validation of Entity Stable ID
  core/src/main/scripts/importer/validateData.py
Labels: validator

#10369 Fix Github Action Core tests
  .github/settings.xml
Labels: test

#10377 Use simpler web docker image
  docker/web/Dockerfile
Labels: devops

#10379 Spring Boot Upgrade: Fix CircleCI build_backend step
  .circleci/config.yml
Labels: devops

#10380 Update faq.md
  docs/user-guide/faq.md
Labels: documentation

#10381 (JSP) Fix broken global parameter
  portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp
Labels: bug

#10392 Frontend v5.4.2
  pom.xml
Labels: skip-changelog

#10394 Update News-Genie.md
  docs/News-Genie.md
Labels: documentation

#10399 Add some more info to getting started docs
  CONTRIBUTING.md
Labels: documentation
