Repository cBioPortal/cbioportal, pull requests merged in 2023-04, with the labels that each got.

#9994 Update news.md
  docs/News.md
Labels: documentation

#10101 fixed swagger page validation errors
  web/src/main/java/org/cbioportal/web/StudyController.java
  web/src/main/java/org/cbioportal/web/TreatmentController.java
Labels: api, gsoc

#10115 Update database migration documentation
  docs/MSK-Maintenance.md
  docs/SUMMARY.md
Labels: documentation

#10124 Do not call next study view filter when no samples left
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  web/src/main/java/org/cbioportal/web/util/appliers/AbstractPatientTreatmentFilter.java
  web/src/main/java/org/cbioportal/web/util/appliers/AbstractSampleTreatmentFilter.java
  web/src/main/java/org/cbioportal/web/util/appliers/ClinicalEventFilterApplier.java
Labels: bug

#10128 :wrench: Add Configuration Properties for study view summary limits
  docs/deployment/customization/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: backend

#10142 Add tutorials from others
  docs/user-guide/overview.md
Labels: documentation
