Repository cBioPortal/cbioportal, pull requests merged in 2023-07, with the labels that each got.

#10214 RFC68: Impl. structural variant filtering in Study View filter
  model/src/main/java/org/cbioportal/model/StructuralVariantFilterQuery.java
  model/src/main/java/org/cbioportal/model/StructuralVariantGeneSubQuery.java
  model/src/main/java/org/cbioportal/model/StudyViewStructuralVariantFilter.java
  persistence/persistence-api/src/main/java/org/cbioportal/persistence/StructuralVariantRepository.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/StructuralVariantMapper.java
  persistence/persistence-mybatis/src/main/java/org/cbioportal/persistence/mybatis/StructuralVariantMyBatisRepository.java
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/StructuralVariantMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/DiscreteCopyNumberMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/MutationMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatis/StructuralVariantMyBatisRepositoryTest.java
  persistence/persistence-mybatis/src/test/resources/testSql.sql
  service/src/main/java/org/cbioportal/service/StructuralVariantService.java
  service/src/main/java/org/cbioportal/service/impl/StructuralVariantServiceImpl.java
  web/src/main/java/org/cbioportal/web/StudyViewController.java
  web/src/main/java/org/cbioportal/web/parameter/StudyViewFilter.java
  web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  web/src/main/java/org/cbioportal/web/util/StudyViewFilterUtil.java
  web/src/main/java/org/cbioportal/web/util/appliers/StructuralVariantSubFilterApplier.java
  web/src/test/java/org/cbioportal/web/StudyViewControllerTest.java
  web/src/test/java/org/cbioportal/web/util/appliers/StructuralVariantSubFilterApplierTest.java
Labels: api

#10267 fix 10221 - 403 issue; authentication object is obtained from Security Context.
  web/src/main/java/org/cbioportal/web/StudyController.java
Labels: bug

#10281 Frontend v5.3.14
  pom.xml
Labels: skip-changelog

#10297 Frontend v5.3.15
  pom.xml
Labels: skip-changelog
