Repository cBioPortal/cbioportal, pull requests merged in 2023-12, with the labels that each got.

#10487 Removing the filtering of amino acid changes with '+' as not relevant…
  core/src/main/scripts/importer/validateData.py
Labels: enhancement

#10491 Frontend v5.4.10
  pom.xml
Labels: skip-changelog

#10508 Rebase from Master
  docs/deployment/authorization-and-authentication/Authenticating-Users-via-Tokens.md
  src/main/resources/templates/login.html
Labels: documentation

#10494 Update News - Dec 29, 2023 data release
  docs/News.md
Labels: documentation

#10509 Update News Release - fix formatting
  docs/News.md
Labels: documentation
