Repository cBioPortal/cbioportal, pull requests merged in 2023-05, with the labels that each got.

#10143 :wrench: Add StudyDownloadUrl to portal.properties
  docs/deployment/customization/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: enhancement

#10164 Fix study tag search when no studies available
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/StudyMapper.xml
Labels: bug

#10166 add jeremy to about page
  docs/About-Us.md
Labels: documentation

#10186 Documentation markdown fixes
  docs/SUMMARY.md
  docs/development/Build-Different-Frontend.md
  docs/development/Database-Versioning.md
  docs/development/Deployment-Procedure.md
  docs/development/Documentation-site.md
  docs/development/README.md
  docs/development/Release-Procedure.md
  docs/development/cBioPortal-ER-Diagram.md
  docs/development/feature-development-guide.md
  docs/development/manual-test-cases.md
  docs/development/session-service-working.md
Labels: documentation

#10193 Fix integration test
  test/integration/test_load_study.sh
Labels: test

#10156 Feature/10133 exclude clinical attributes with low priority
  core/src/main/scripts/importer/validateData.py
  docs/deployment/customization/Studyview.md
Labels: validator
