Repository cBioPortal/cbioportal, pull requests merged in 2023-10, with the labels that each got.

#10412 Add 'skin.left_logo' property
  docs/deployment/customization/Customizing-your-instance-of-cBioPortal.md
  docs/deployment/customization/portal.properties-Reference.md
  portal/src/main/webapp/config_service.jsp
  src/main/resources/portal.properties.EXAMPLE
Labels: devops

#10413 Enable server public key retrieval in python scripts
  core/src/main/scripts/importer/cbioportal_common.py
Labels: bug

#10238 Improve keycloak configuration docs
  docs/deployment/authorization-and-authentication/Authenticating-and-Authorizing-Users-via-keycloak.md
  docs/deployment/authorization-and-authentication/logback.DEBUG.EXAMPLE.xml
Labels: documentation

#10387 Use RSA256 algorithm for SAML2 authN statement singing
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/saml/SAMLBootstrapRSA256.java
  security/security-spring/src/main/resources/applicationContext-security.xml
Labels: devops

#10424 Replace DB Prop Assertion with Warning
  core/src/main/java/org/mskcc/cbio/portal/dao/JdbcDataSource.java
Labels: importer

#10423 Fix context initialization when property 'dat.method' is missing
  security/security-spring/src/main/java/org/cbioportal/security/spring/authentication/token/config/DataAccessTokenConfig.java
Labels: devops

#10426 Frontend v5.4.5
  pom.xml
Labels: skip-changelog

#10279 Feature/fix gene filtering
  persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatiscolumnstore/StudyViewMapper.xml
  persistence/persistence-mybatis/src/test/java/org/cbioportal/persistence/mybatiscolumnstore/StudyViewMyBatisRepositoryTest.java
Labels: cl-prototype

#10403 Improve timeline link docs
  docs/File-Formats.md
Labels: documentation

#10441 Documentation for the 'priority_studies' feature in portal.properties
  docs/deployment/customization/portal.properties-Reference.md
Labels: documentation

#10453 Frontend v5.4.7
  pom.xml
Labels: skip-changelog
