Repository cBioPortal/cbioportal, pull requests merged in 2024-06, with the labels that each got.

#10814 fixed small README typo
  README.md
Labels: documentation

#10817 Update News.md
  docs/News.md
Labels: documentation

#10774 New Survival Data Endpoint for Dynamic Kaplan-Meier Curve
  src/main/java/org/cbioportal/model/ClinicalData.java
  src/main/java/org/cbioportal/model/ClinicalEvent.java
  src/main/java/org/cbioportal/persistence/ClinicalEventRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/ClinicalEventMapper.java
  src/main/java/org/cbioportal/persistence/mybatis/ClinicalEventMyBatisRepository.java
  src/main/java/org/cbioportal/service/ClinicalEventService.java
  src/main/java/org/cbioportal/service/FrontendPropertiesServiceImpl.java
  src/main/java/org/cbioportal/service/impl/ClinicalEventServiceImpl.java
  src/main/java/org/cbioportal/web/ClinicalEventController.java
  src/main/java/org/cbioportal/web/SurvivalController.java
  src/main/java/org/cbioportal/web/parameter/ClinicalEventAttributeRequest.java
  src/main/java/org/cbioportal/web/parameter/ClinicalEventRequest.java
  src/main/java/org/cbioportal/web/parameter/ClinicalEventRequestIdentifier.java
  src/main/java/org/cbioportal/web/parameter/OccurrencePosition.java
  src/main/java/org/cbioportal/web/parameter/SurvivalRequest.java
  src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  src/main/resources/org/cbioportal/persistence/mybatis/ClinicalEventMapper.xml
  src/test/java/org/cbioportal/persistence/mybatis/ClinicalEventMyBatisRepositoryTest.java
  src/test/java/org/cbioportal/persistence/mybatis/TreatmentMyBatisRepositoryTest.java
  src/test/java/org/cbioportal/service/impl/ClinicalDataServiceImplTest.java
  src/test/java/org/cbioportal/service/impl/ClinicalEventServiceImplTest.java
  src/test/java/org/cbioportal/web/ClinicalEventControllerTest.java
  src/test/java/org/cbioportal/web/SurvivalControllerTest.java
  src/test/resources/testSql.sql
Labels: feature, api

#10824 Feature/mutated genes total profiled counts and gene panels
  pom.xml
  src/main/java/org/cbioportal/model/AlterationType.java
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/typehandler/GenePanelIdsTypeHandler.java
  src/main/java/org/cbioportal/service/AlterationCountService.java
  src/main/java/org/cbioportal/service/impl/AlterationCountServiceImpl.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/db-scripts/clickhouse/clickhouse_migration.sql
  src/main/resources/db-scripts/clickhouse/materialized_views.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/AbstractTestcontainers.java
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperTest.java
  src/test/java/org/cbioportal/service/impl/AlterationCountServiceImplTest.java
  src/test/resources/clickhouse_data.sql
  src/test/resources/logback.xml
Labels: backend

#10845 Rfc80/add cna genes endpoint
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/helper/AlterationFilterHelper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/service/AlterationCountService.java
  src/main/java/org/cbioportal/service/StudyViewColumnarService.java
  src/main/java/org/cbioportal/service/impl/AlterationCountServiceImpl.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/db-scripts/clickhouse/clickhouse_migration.sql
  src/main/resources/db-scripts/clickhouse/derived_tables.sql
  src/main/resources/db-scripts/clickhouse/materialized_views.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewAlterationFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/helper/AlterationFilterHelperTest.java
Labels: performance, backend

#10825 Add bean for CancerStudyPermissionEvaluator
  src/main/java/org/cbioportal/security/CancerStudyPermissionEvaluator.java
  src/main/java/org/cbioportal/security/config/MethodSecurityConfig.java
Labels: cleanup

#10854 :sparkles: Add StructuralVariant-genes endpoint
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/typehandler/GenePanelIdsTypeHandler.java
  src/main/java/org/cbioportal/service/AlterationCountService.java
  src/main/java/org/cbioportal/service/StudyViewColumnarService.java
  src/main/java/org/cbioportal/service/impl/AlterationCountServiceImpl.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/db-scripts/clickhouse/clickhouse_migration.sql
  src/main/resources/db-scripts/clickhouse/derived_tables.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
Labels: performance, backend

#10857 Rfc80/fix patient level filtering for alteration counts endpoints
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/db-scripts/clickhouse/clickhouse_migration.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
Labels: performance, backend

#10858 Rfc80/fix alteration counts total profiled counts
  src/main/java/org/cbioportal/service/impl/AlterationCountServiceImpl.java
Labels: bug, backend

#10867 Consolidate SQL files used to create CH Tables
  pom.xml
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/db-scripts/clickhouse/clickhouse_migration.sql
  src/main/resources/db-scripts/clickhouse/derived_tables.sql
  src/main/resources/db-scripts/clickhouse/materialized_views.sql
  src/main/resources/db-scripts/clickhouse/views.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/AbstractTestcontainers.java
Labels: performance, backend

#10864 Frontend v6.0.9
  docker/web-and-data/Dockerfile
  pom.xml
Labels: skip-changelog
