Repository cBioPortal/cbioportal, pull requests merged in 2024-07, with the labels that each got.

#10888 :wrench: Update Sonar Cloud Token
  .github/workflows/sonarcloud.yml
Labels: backend

#10889 Fix sorting in clinicaldata tab of study view
  src/main/java/org/cbioportal/persistence/mybatis/ClinicalDataMyBatisRepository.java
Labels: bug, backend

#10884 Restrict proxy access to known hosts only
  src/main/java/org/cbioportal/proxy/ProxyController.java
Labels: bug, security, backend

#10816 Add Incremental Data Loading Documentation
  docs/Data-Loading-Maintaining-Studies.md
  docs/Data-Loading.md
  docs/Incremental-Data-Loading.md
  docs/Using-the-metaImport-script.md
  docs/deployment/docker/example_commands.md
Labels: documentation

#10820 Document RFC84 patient and sample removal commands
  docs/Data-Loading-Maintaining-Studies.md
  docs/deployment/docker/example_commands.md
Labels: documentation

#10893 Switch off spring security on public VS endpoints
  src/main/java/org/cbioportal/security/config/ApiSecurityConfig.java
Labels: bug, backend

#10899 Rfc80/clinical event timeline endpoint
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/service/StudyViewColumnarService.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperTest.java
  src/test/resources/clickhouse_cgds.sql
  src/test/resources/clickhouse_data.sql
Labels: performance, backend

#10903 Rfc80/treatments patients endpoint
  pom.xml
  src/main/java/org/cbioportal/model/PatientTreatment.java
  src/main/java/org/cbioportal/model/PatientTreatmentReport.java
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/helper/StudyViewFilterHelper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/service/StudyViewColumnarService.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperTest.java
  src/test/resources/clickhouse_data.sql
Labels: performance, backend

#10913 Fix web and data image build
  docker/web-and-data/Dockerfile
Labels: devops
