Repository cBioPortal/cbioportal, pull requests merged in 2024-11, with the labels that each got.

#11152 Fix cache annotation resource data
  src/main/java/org/cbioportal/web/ResourceDataController.java
Labels: bug

#11153 :lock: Update Default Filter Chain Ordering for Spring Security
  src/main/java/org/cbioportal/security/config/ApiSecurityConfig.java
  src/main/java/org/cbioportal/security/config/OAuth2SecurityConfig.java
Labels: bug, security

#11133 Add Chromoscope News
  docs/News.md
Labels: documentation, do not merge

#11040 Rfc85 dynamic virtual study
  src/main/java/org/cbioportal/web/SessionServiceController.java
  src/main/java/org/cbioportal/web/parameter/VirtualStudyData.java
  src/test/java/org/cbioportal/web/SessionServiceControllerTest.java
Labels: feature

#11164 Add ICI note to chromoscope news
  docs/News.md
Labels: documentation

#11084 Rfc80/clinical data counts refactor
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/java/org/cbioportal/web/columnar/util/NewClinicalDataBinUtil.java
  src/main/java/org/cbioportal/web/columnar/util/NewStudyViewFilterUtil.java
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperClinicalDataCountTest.java
Labels: refactoring

#11148 Add Mutation Assessor v4 news
  docs/News.md
Labels: documentation

#11185 Add back NA counts when corresponding samples are filtered out of study view
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/service/util/StudyViewColumnarServiceUtil.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/service/util/StudyViewColumnarServiceUtilTest.java
Labels: RFC80

#11169 Remove unused noauthsessionservice property
  README.md
  docs/development/session-service-working.md
  src/main/java/org/cbioportal/security/config/ApiSecurityConfig.java
Labels: cleanup

#11198 Update Total profile Count to filter on genetic profile
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/service/impl/AlterationCountServiceImpl.java
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperTest.java
Labels: backend, RFC80

#11202 Add AlphaMissense news
  docs/News.md
Labels: documentation

#11211 Add missing DROP TABLE statements
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
Labels: database, RFC80

#11217 Use PR-specific image for circleci api tests
  .circleci/config.yml
Labels: devops

#11035 Add gget CLI client to docs
  docs/web-API-and-Clients.md
Labels: documentation

#11232 Add setup guide for Kubernetes deployment
  .gitignore
  docs/Downloads.md
  docs/SUMMARY.md
  docs/deployment/README.md
  docs/deployment/kubernetes/README.md
Labels: documentation
