Repository cBioPortal/cbioportal, pull requests merged in 2024-01, with the labels that each got.

#10512 Bugfix/remove demo rfc72 image reference
  .circleci/config.yml
  .github/workflows/integration-test.yml
  docs/deployment/customization/security.properties-Reference.md
  pom.xml
  src/main/java/org/cbioportal/security/config/CorsConfig.java
  src/main/java/org/cbioportal/security/config/NoSecurityConfig.java
  src/main/java/org/cbioportal/security/config/OAuth2SecurityConfig.java
  src/main/java/org/cbioportal/security/config/Saml2SecurityConfig.java
  src/main/java/org/cbioportal/web/IndexPageController.java
  src/main/resources/security.properties.EXAMPLE
  test/integration/test_integration_test_oncokb_import.sh
  test/integration/test_load_study.sh
  test/integration/test_update_oncokb.sh
Labels: documentation

#10513 Fix CacheMapUtil configurations
  src/main/java/org/cbioportal/persistence/cachemaputil/InactiveCacheMapUtil.java
  src/main/java/org/cbioportal/persistence/cachemaputil/SpringManagedCacheMapUtil.java
  src/main/java/org/cbioportal/persistence/cachemaputil/StaticRefCacheMapUtil.java
  src/main/java/org/cbioportal/security/config/MethodSecurityConfig.java
  src/main/java/org/cbioportal/service/impl/CacheServiceImpl.java
  src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
Labels: feature

#10516 Feature/ch/UUID dat support
  src/main/java/org/cbioportal/security/UuidBearerTokenAuthenticationFilter.java
  src/main/java/org/cbioportal/security/config/OAuth2SecurityConfig.java
  src/main/java/org/cbioportal/service/impl/UnauthDataAccessTokenServiceImpl.java
  src/main/java/org/cbioportal/web/DataAccessTokenController.java
  src/test/java/org/cbioportal/web/config/DataAccessTokenControllerConfig.java
Labels: feature, security

#10522 Release 6.0.0
  CONTRIBUTING.md
  README.md
  docker/web-and-data/docker-entrypoint.sh
  docs/Architecture-Overview.md
  docs/File-Formats.md
  docs/Hardware-Requirements.md
  docs/Import-Gene-Panels.md
  docs/Import-Gene-Sets.md
  docs/Import-Study-Using-Docker.md
  docs/MSK-Maintenance.md
  docs/SUMMARY.md
  docs/Support-multiple-reference-genomes.md.BK
  docs/Updating-gene-and-gene_alias-tables.md
  docs/Updating-your-cBioPortal-installation.md
  docs/Using-the-dataset-validator.md
  docs/deployment/authorization-and-authentication/Authenticating-Users-via-SAML.md
  docs/deployment/authorization-and-authentication/Authenticating-Users-via-Tokens.md
  docs/deployment/authorization-and-authentication/Authenticating-and-Authorizing-Users-via-keycloak.md
  docs/deployment/authorization-and-authentication/User-Authorization.md
  docs/deployment/customization/Caching.md
  docs/deployment/customization/Customizing-your-instance-of-cBioPortal.md
  docs/deployment/customization/application.properties-Reference.md
  docs/deployment/customization/portal.properties--Reference.md
  docs/deployment/customization/security.properties-Reference.md
  docs/deployment/deploy-without-docker/Deploying.md
  docs/deployment/deploy-without-docker/Load-Sample-Cancer-Study.md
  docs/deployment/docker/README.md
  docs/deployment/integration-with-other-webservices/OncoKB-Data-Access.md
  docs/development/Deployment-Procedure.md
  docs/mutation-data-transcript-annotation.md
  pom.xml
  src/main/java/org/cbioportal/PortalApplication.java
  src/main/java/org/cbioportal/utils/config/PropertyCondition.java
  src/main/java/org/cbioportal/web/CacheController.java
  src/main/java/org/cbioportal/web/MskEntityTranslationController.java
  src/main/java/org/cbioportal/web/config/WebServletContextListener.java
  src/main/resources/application.properties.EXAMPLE
  src/main/resources/portal.properties.EXAMPLE
  src/main/resources/webapp/config_service.jsp
Labels: documentation, do not merge, release candidate

#10531 Add /ln path and update proxy Controller
  src/main/java/org/cbioportal/WebAppConfig.java
  src/main/java/org/cbioportal/proxy/ProxyController.java
Labels: bug

#10532 Demo 6.0.0
  pom.xml
  src/main/java/org/cbioportal/WebAppConfig.java
  src/main/java/org/cbioportal/proxy/ProxyController.java
  src/main/resources/application.properties.EXAMPLE
Labels: enhancement

#10528 Issue 10525 add sonar qube code coverage
  .github/workflows/sonarcloud.yml
  pom.xml
Labels: do not merge

#10547 10160 structural variants
  src/main/java/org/cbioportal/model/CancerStudy.java
  src/main/resources/org/cbioportal/persistence/mybatis/StudyMapper.xml
Labels: feature, cl-feature

#10572 Adds support for trailing slashes
  src/main/java/org/cbioportal/WebAppConfig.java
Labels: bug

#10574 :lock: Add Cors Config Back
  src/main/java/org/cbioportal/security/config/OAuth2SecurityConfig.java
  src/main/java/org/cbioportal/security/config/OptionalOAuth2SecurityConfig.java
  src/main/java/org/cbioportal/security/config/Saml2SecurityConfig.java
Labels: bug
