Repository cBioPortal/cbioportal, pull requests merged in 2024-12, with the labels that each got.

#11251 Improve data loading docs
  docs/Data-Loading.md
Labels: documentation

#11257 Support clickhouse mode for circleci api tests
  .circleci/config.yml
Labels: devops, test

#11256 Update cBioPortal to dynamically load ch Components only when property clickhouse_enabled is set
  .circleci/config.yml
  .github/workflows/integration-test.yml
  src/main/java/org/cbioportal/persistence/mybatis/UnImplementedStudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/config/PersistenceConfig.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/config/PersistenceColumnarConfig.java
  src/main/java/org/cbioportal/properties/CustomDataSourceConfiguration.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/service/treatment/TreatmentCountReportServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/BasicDataBinner.java
  src/main/java/org/cbioportal/web/columnar/ClinicalDataBinner.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/resources/application.properties.EXAMPLE
  src/test/java/org/cbioportal/test/integration/DatabaseInitializer.java
Labels: refactoring, RFC80

#11248 Optimize bins filtering by merging bins
  src/main/java/org/cbioportal/persistence/helper/StudyViewFilterHelper.java
  src/main/java/org/cbioportal/web/parameter/DataFilterValue.java
  src/main/java/org/cbioportal/web/parameter/GenomicDataFilter.java
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/helper/StudyViewFilterHelperTest.java
Labels: RFC80

#11269 Update news about GDC Target studies
  docs/News.md
Labels: documentation

#11282 add donate page to docs
  docs/Donate.md
  docs/SUMMARY.md
Labels: documentation

#11279 Fix seed database commands in docs
  docs/deployment/deploy-without-docker/Import-the-Seed-Database.md
Labels: documentation

#11274 Custom sample filtering performance and security improvement
  src/main/java/org/cbioportal/persistence/helper/StudyViewFilterHelper.java
  src/main/java/org/cbioportal/web/parameter/CustomSampleIdentifier.java
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
Labels: performance, RFC80

#11297 add a comment for elapsed-time header intercept
  src/main/java/org/cbioportal/web/GeneralControllerAdvice.java
Labels: skip-changelog

#11286 Add donate button config instructions
  docs/deployment/customization/application.properties-Reference.md
  src/main/resources/application.properties.EXAMPLE
Labels: documentation

#11295 Update News.md
  docs/News.md
Labels: documentation

#11300 Add documentation for cBioPortal security measures.
  docs/SUMMARY.md
  docs/development/Security.md
Labels: documentation

#11302 update github dependency graph with docker builds
  .github/workflows/dockerimage.yml
Labels: devops

#11303 fix typo in github dependency graph action
  .github/workflows/dockerimage.yml
Labels: devops

#10452 Add documentation for quick select on homepage
  docs/deployment/customization/application.properties-Reference.md
Labels: documentation
