Repository cBioPortal/cbioportal, pull requests merged in 2024-10, with the labels that each got.

#10963 Add clickhouse custom data endpoints
  src/main/java/org/cbioportal/web/columnar/BasicDataBinner.java
  src/main/java/org/cbioportal/web/columnar/ClinicalDataBinner.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/java/org/cbioportal/web/columnar/util/CustomDataFilterUtil.java
  src/main/java/org/cbioportal/web/columnar/util/NewClinicalDataBinUtil.java
  src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  src/main/java/org/cbioportal/web/util/StudyViewFilterUtil.java
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperTest.java
Labels: RFC80

#11029 Update News.md
  docs/News.md
Labels: documentation

#11042 Update News.md
  docs/News.md
Labels: documentation

#11088 Update News-Genie.md
  docs/News-Genie.md
Labels: documentation

#11123 Update OS/PFS FAQ
  docs/user-guide/faq.md
Labels: documentation

#11051 Add resource-data-all endpoint and MyBatis SQL methods
  src/main/java/org/cbioportal/persistence/ResourceDataRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/ResourceDataMapper.java
  src/main/java/org/cbioportal/persistence/mybatis/ResourceDataMyBatisRepository.java
  src/main/java/org/cbioportal/service/ResourceDataService.java
  src/main/java/org/cbioportal/service/impl/ResourceDataServiceImpl.java
  src/main/java/org/cbioportal/web/ResourceDataController.java
  src/main/resources/org/cbioportal/persistence/mybatis/ResourceDataMapper.xml
Labels: api
