Repository cBioPortal/cbioportal, pull requests merged in 2024-09, with the labels that each got.

#10979 Add api test specs
  test/api-e2e/index.js
  test/api-e2e/mergeJson.js
  test/api-e2e/specs/clinical-data-filters.json
  test/api-e2e/specs/custom-data-bin-counts-filter.json
  test/api-e2e/specs/custom-data-counts-filter.json
  test/api-e2e/specs/genie-public.json
  test/api-e2e/specs/mutation-data-counts.json
  test/api-e2e/specs/sample-lists-counts-filter.json
Labels: skip-changelog

#10978 Fix clinical data NA counts for multiple studies
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  test/api-e2e/specs/clinical-data-filters.json
Labels: RFC80

#10981 Demo rfc80 poc mutation data count unit tests
  src/main/java/org/cbioportal/web/parameter/GenomicDataFilter.java
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/GenomicDataFilterTest.java
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperTest.java
  src/test/resources/clickhouse_data.sql
Labels: RFC80

#10988 Fix rfc80 build
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/GenomicDataFilterTest.java
Labels: bug, RFC80

#10986 Rfc80/add tests mutated-genes,cna-genes,structural-variants filters
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  test/api-e2e/specs/cna-genes-filter.json
  test/api-e2e/specs/mutated-genes-filter.json
  test/api-e2e/specs/structural-variant-genes-filter.json
Labels: RFC80

#10991 Fix clinical data NA count logic
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
Labels: RFC80

#11010 Fix "Feature development guide" link
  CONTRIBUTING.md
Labels: documentation

#11026 Merge Alteration Counts that have conflicting HugoSymbols for Study V…
  src/main/java/org/cbioportal/service/impl/AlterationCountServiceImpl.java
Labels: RFC80
