Repository cBioPortal/cbioportal, pull requests merged in 2024-08, with the labels that each got.

#10894 Update FAQ for Upcoming GDC Data Release
  docs/user-guide/faq.md
Labels: documentation

#10910 Add NCI-CRDC TCGA and CPTAC studies to news release
  docs/News.md
Labels: documentation

#10924 Fix broken link in FAQ
  docs/user-guide/faq.md
Labels: documentation

#10927 Rfc80/sample treatment endpoint
  src/main/java/org/cbioportal/model/SampleTreatment.java
  src/main/java/org/cbioportal/model/SampleTreatmentReport.java
  src/main/java/org/cbioportal/persistence/StudyViewRepository.java
  src/main/java/org/cbioportal/persistence/model/SampleAcquisitionEventRecord.java
  src/main/java/org/cbioportal/persistence/model/TreatmentRecord.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.java
  src/main/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMyBatisRepository.java
  src/main/java/org/cbioportal/service/StudyViewColumnarService.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/service/treatment/TreatmentCountReportService.java
  src/main/java/org/cbioportal/service/treatment/TreatmentCountReportServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperTest.java
  src/test/resources/clickhouse_data.sql
Labels: performance, backend

#10929 Rfc80/update open api annotation
  src/main/java/org/cbioportal/model/SampleTreatmentReport.java
  src/main/java/org/cbioportal/service/treatment/TreatmentCountReportServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
Labels: performance, backend

#10921 RFC87: add download_custom_buttons_json to application.properties schema and update documentation
  docs/deployment/customization/application.properties-Reference.md
  docs/deployment/customization/download_custom_buttons-Reference.md
  src/main/java/org/cbioportal/service/FrontendPropertiesServiceImpl.java
  src/main/resources/application.properties.EXAMPLE
  src/main/resources/custom_buttons/download_custom_button_avm.json
Labels: feature

#10936 Add entrez_id to alteration Count endpoints
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
Labels: backend

#10939 Fix docker compose deprecation issue
  .github/workflows/integration-test.yml
  docs/Study-Curation-Guide.md
  docs/deployment/docker/example_commands.md
  docs/deployment/docker/import_data.md
  test/integration/test_integration_test_oncokb_import.sh
  test/integration/test_load_study.sh
  test/integration/test_update_oncokb.sh
Labels: documentation, test

#10931 Fix Datahub link in FAQ
  docs/user-guide/faq.md
Labels: documentation

#10938 Deployment/Customization Docs: changed links to relative so they work both in github website and docs website
  docs/deployment/customization/Caching.md
  docs/deployment/customization/Customizing-your-instance-of-cBioPortal.md
  docs/deployment/customization/application.properties-Reference.md
  docs/deployment/customization/download_custom_buttons-Reference.md
  docs/deployment/customization/portal.properties--Reference.md
Labels: documentation

#10946 fix frontendproperties readFile() to work with classpath and update download_custom_buttons_json reference
  docs/deployment/customization/application.properties-Reference.md
  docs/deployment/customization/download_custom_buttons-Reference.md
  src/main/java/org/cbioportal/service/FrontendPropertiesServiceImpl.java
  src/main/resources/application.properties.EXAMPLE
Labels: bug, backend

#10908 Fixed outdated keycloak docker image
  docs/deployment/docker/using-keycloak.md
Labels: bug

#10951 Improve numerical clinical data filter
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapper.xml
  src/test/java/org/cbioportal/persistence/mybatisclickhouse/StudyViewMapperClinicalDataCountTest.java
Labels: RFC80
