Repository cBioPortal/cbioportal, pull requests merged in 2024-05, with the labels that each got.

#10777 Fix mutation-data-count API sync issue
  src/main/java/org/cbioportal/web/StudyViewController.java
Labels: bug, documentation, api

#10776 Feature/ch/update poc base branch
  src/main/resources/db-scripts/columnar/materialized_views.sql
  src/main/resources/org/cbioportal/persistence/mybatiscolumnar/StudyViewFilterMapper.xml
  src/main/resources/org/cbioportal/persistence/mybatiscolumnar/StudyViewMapper.xml
Labels: cleanup

#10505 move treatments endpoint to internal API
  src/main/java/org/cbioportal/web/TreatmentController.java
Labels: api

#10407 Refactor sort/search/pagination for ClinicalData table endpoint
  src/main/java/org/cbioportal/model/ClinicalDataCollection.java
  src/main/java/org/cbioportal/model/SampleClinicalDataCollection.java
  src/main/java/org/cbioportal/persistence/ClinicalDataRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/CancerTypeMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/ClinicalAttributeMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/ClinicalDataMapper.java
  src/main/java/org/cbioportal/persistence/mybatis/ClinicalDataMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/ClinicalEventMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/CopyNumberSegmentMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/GeneMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/GenePanelMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/GenesetMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/MolecularProfileMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/MutationMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/PatientMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/ResourceDataMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/ResourceDefinitionMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/SampleListMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/SampleMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/SignificantCopyNumberRegionMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/SignificantlyMutatedGeneMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/StudyMyBatisRepository.java
  src/main/java/org/cbioportal/persistence/mybatis/util/OffsetCalculator.java
  src/main/java/org/cbioportal/persistence/mybatis/util/PaginationCalculator.java
  src/main/java/org/cbioportal/service/ClinicalDataService.java
  src/main/java/org/cbioportal/service/impl/ClinicalDataServiceImpl.java
  src/main/java/org/cbioportal/utils/Encoder.java
  src/main/java/org/cbioportal/web/PatientController.java
  src/main/java/org/cbioportal/web/SampleController.java
  src/main/java/org/cbioportal/web/StudyViewController.java
  src/main/java/org/cbioportal/web/interceptor/UniqueKeyInterceptor.java
  src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java
  src/main/java/org/cbioportal/web/util/UniqueKeyExtractor.java
  src/main/resources/org/cbioportal/persistence/mybatis/ClinicalDataMapper.xml
  src/test/java/org/cbioportal/persistence/mybatis/ClinicalDataMyBatisRepositoryTest.java
  src/test/java/org/cbioportal/persistence/mybatis/ResourceDataMyBatisRepositoryTest.java
  src/test/java/org/cbioportal/persistence/mybatis/ResourceDefinitionMyBatisRepositoryTest.java
  src/test/java/org/cbioportal/persistence/mybatis/config/TestConfig.java
  src/test/java/org/cbioportal/persistence/mybatis/util/PaginationCalculatorTest.java
  src/test/java/org/cbioportal/persistence/util/fakeclient/MockInMemoryRedissonClient.java
  src/test/java/org/cbioportal/service/impl/ClinicalDataServiceImplTest.java
  src/test/java/org/cbioportal/web/StudyViewControllerTest.java
  src/test/java/org/cbioportal/web/config/TestConfig.java
  src/test/resources/testSql.sql
Labels: api

#10783 Add install yarn fix
  .circleci/config.yml
Labels: dependencies, devops, test

#10801 update news page with March & April releases
  docs/News.md
Labels: documentation

#10800 Set default API springdoc properties to match those prior to v6
  src/main/java/org/cbioportal/PortalApplication.java
  src/main/resources/springdoc.properties
  src/main/resources/springfox.properties
Labels: bug

#10804 update release list
  docs/News.md
Labels: documentation
