Repository cBioPortal/cbioportal, pull requests merged in 2024-04, with the labels that each got.

#10728 :bug: Fix RedisAutoConfig Exclusion logic to exclude if redis session…
  src/main/java/org/cbioportal/security/config/AutoconfigureExcludeConfig.java
  src/main/resources/application.properties.EXAMPLE
Labels: bug

#10730 add newsletter to news
  docs/News.md
Labels: documentation

#10748 Update News-Genie.md
  docs/News-Genie.md
Labels: documentation

#10644 Update release procedure protocol
  docs/development/Release-Procedure.md
Labels: documentation

#10562 Remove spring-boot-starter-data-mongodb
  pom.xml
Labels: dependencies

#10764 Enable multi-study study-view cache
  src/main/java/org/cbioportal/web/StudyViewController.java
  src/main/java/org/cbioportal/web/TreatmentController.java
  src/main/java/org/cbioportal/web/util/StudyViewFilterUtil.java
Labels: performance
