Repository cBioPortal/cbioportal, pull requests merged in 2024-03, with the labels that each got.

#10686 Delete requirements.txt
  .github/workflows/integration-test.yml
  .github/workflows/validate-data.yml
  requirements.txt
Labels: cleanup

#10691 Update news 2023 - Mar 2024
  docs/News.md
Labels: documentation

#10665 Fix Mutation Data Counts Endpoint on Mutation Tables and Rename Return Types
  src/main/java/org/cbioportal/model/MutationFilterOption.java
  src/main/java/org/cbioportal/service/impl/StudyViewServiceImpl.java
  src/main/java/org/cbioportal/web/StudyViewController.java
  src/main/java/org/cbioportal/web/parameter/MutationOption.java
  src/main/java/org/cbioportal/web/util/StudyViewFilterApplier.java
  src/test/java/org/cbioportal/web/util/StudyViewFilterApplierTest.java
Labels: bug, backend

#10699 Add release 15 for GENIE to news
  docs/News-Genie.md
Labels: documentation

#10704 Replace deprecated Spring Security class
  src/main/java/org/cbioportal/security/config/ApiSecurityConfig.java
Labels: bug

#10693 Dependencies Update Version of Core
  docker/web-and-data/Dockerfile
Labels: dependencies

#10708 :bug: Update core version in dockerFile
  docker/web-and-data/Dockerfile
Labels: dependencies

#10709 Update Saml Security Tests
  .github/workflows/integration-test.yml
  .github/workflows/security-integration-test.yml
  docker/web-and-data/docker-entrypoint.sh
  src/test/java/org/cbioportal/test/integration/security/util/Util.java
Labels: test

#10713 :wrench: Remove temp docker image
  .github/workflows/integration-test.yml
Labels: dependencies

#10700 Fix: groups and authorities filter issue
  src/main/java/org/cbioportal/security/CancerStudyPermissionEvaluator.java
Labels: bug, critical

#10705 Frontend v6.0.4
  pom.xml
Labels: skip-changelog

#10725 :lock: Update to allow for multiple Authentication Providers
  src/main/java/org/cbioportal/security/config/ApiSecurityConfig.java
Labels: bug, security
