Repository cBioPortal/cbioportal, pull requests merged in 2025-08, with the labels that each got.

#11649 Correct profiles and commands for tests in README
  README.md
Labels: documentation

#11637 Add special case for null start end values for numerical study view filters
  src/main/java/org/cbioportal/domain/studyview/StudyViewFilterContext.java
  src/main/resources/mappers/clickhouse/studyview/ClickhouseStudyViewFilterMapper.xml
  src/test/java/org/cbioportal/infrastructure/repository/clickhouse/sample/ClickhouseSampleMapperTest.java
Labels: bug

#11647 App should fallback gracefully when Redis cache is unavailable
  docs/deployment/customization/application.properties-Reference.md
  src/main/java/org/cbioportal/legacy/persistence/util/CustomRedisCache.java
  src/main/java/org/cbioportal/legacy/persistence/util/CustomRedisCacheManager.java
  src/main/java/org/cbioportal/legacy/persistence/util/CustomRedisCachingProvider.java
  src/main/java/org/cbioportal/legacy/persistence/util/LoggingCacheErrorHandler.java
  src/main/java/org/cbioportal/legacy/persistence/util/NoOpCacheManager.java
  src/main/resources/application.properties.EXAMPLE
  src/test/java/org/cbioportal/legacy/persistence/config/RedisConfigTest.java
  src/test/java/org/cbioportal/legacy/persistence/util/CustomRedisCachingProviderTest.java
  src/test/java/org/cbioportal/legacy/persistence/util/NoOpCacheManagerTest.java
  src/test/java/org/cbioportal/legacy/persistence/util/RedisConnectionFailureTest.java
  src/test/java/org/cbioportal/legacy/persistence/util/RedisHealthTrackingTest.java
  src/test/java/org/cbioportal/legacy/persistence/util/RedisRuntimeFailureTest.java
Labels: enhancement

#11657 Extend documentation for timeline specimen event types
  docs/File-Formats.md
  docs/images/timeline_samples.png
Labels: documentation

#11660 Resurrect Darwin->cBio link. It was accidentally dropped when cBio->DDP link was decomissioned.
  src/main/java/org/cbioportal/legacy/web/MskEntityTranslationController.java
Labels: test, chore
