Repository cBioPortal/cbioportal, pull requests merged in 2025-01, with the labels that each got.

#11145 Update Redis config source reference
  docs/deployment/customization/Caching.md
Labels: documentation

#11309 Fix the broken link on the ER Diagram page in docs
  docs/development/cBioPortal-ER-Diagram.md
Labels: documentation

#11325 Upgrade circleci config version and improve api/security tests
  .circleci/config.yml
Labels: test

#11275 Bin merge test & input validation
  src/main/java/org/cbioportal/persistence/helper/StudyViewFilterHelper.java
  src/main/java/org/cbioportal/web/parameter/DataFilterValue.java
  src/test/java/org/cbioportal/persistence/helper/StudyViewFilterHelperTest.java
  src/test/resources/clickhouse_data.sql
Labels: RFC80

#11326 Update News-Genie.md
  docs/News-Genie.md
Labels: documentation

#11328 Improve circleci tests with reusable docker images
  .circleci/config.yml
Labels: test

#11278 Make XY plot data cacheable
  src/main/java/org/cbioportal/service/StudyViewColumnarService.java
  src/main/java/org/cbioportal/service/impl/StudyViewColumnarServiceImpl.java
  src/main/java/org/cbioportal/web/columnar/StudyViewColumnStoreController.java
  src/main/java/org/cbioportal/web/columnar/util/ClinicalDataXyPlotUtil.java
Labels: RFC80

#11332 Improved logging for security tests on circleci
  .circleci/config.yml
Labels: test

#11318 Upgrade to spring boot 3.4
  pom.xml
  src/main/resources/org/cbioportal/persistence/mybatis/ClinicalEventMapper.xml
  src/test/java/org/cbioportal/persistence/mybatis/CopyNumberSegmentMyBatisRepositoryTest.java
  src/test/java/org/cbioportal/persistence/util/fakeclient/MockInMemoryRedissonClient.java
  src/test/java/org/cbioportal/persistence/util/fakeclient/MockRBucket.java
  src/test/java/org/cbioportal/persistence/util/fakeclient/MockRKeys.java
  src/test/java/org/cbioportal/service/impl/ExpressionEnrichmentServiceImplTest.java
  src/test/java/org/cbioportal/service/impl/GenericAssayEnrichmentServiceImplTest.java
Labels: dependencies

#11335 add security status badge
  .circleci/config.yml
  README.md
  docs/development/Security.md
Labels: test

#11336 Fix genie api page error
  pom.xml
Labels: bug, api

#11346 Add migration guide for v6.0.24
  docs/Migration-Guide.md
Labels: documentation

#11357 Create new git action to rollover sprint Issues
  .github/workflows/sprint-issues-rollover.yml
Labels: chore
