Repository cBioPortal/cbioportal, pull requests merged in 2025-05, with the labels that each got.

#11521 Fix screenshot tracking and restore completeResults and imageCompare in circleci
  .circleci/config.yml
Labels: test

#11399 Use BIGINT primary key for clinical_event table
  pom.xml
  src/main/java/org/cbioportal/legacy/model/ClinicalEvent.java
  src/main/java/org/cbioportal/legacy/model/ClinicalEventData.java
  src/main/java/org/cbioportal/legacy/persistence/ClinicalEventRepository.java
  src/main/java/org/cbioportal/legacy/persistence/mybatis/ClinicalEventMapper.java
  src/main/java/org/cbioportal/legacy/persistence/mybatis/ClinicalEventMyBatisRepository.java
  src/main/java/org/cbioportal/legacy/web/mixin/ClinicalEventDataMixin.java
  src/main/java/org/cbioportal/legacy/web/mixin/ClinicalEventMixin.java
  src/main/resources/db-scripts/cgds.sql
  src/main/resources/db-scripts/migration.sql
  src/test/java/org/cbioportal/legacy/persistence/mybatis/ClinicalEventMyBatisRepositoryTest.java
  src/test/java/org/cbioportal/legacy/service/impl/BaseServiceImplTest.java
  src/test/java/org/cbioportal/legacy/web/ClinicalEventControllerTest.java
  src/test/resources/cgds-h2.sql
  src/test/resources/cgds.sql
Labels: bug

#11504 Make the "fetchGenericAssayData()" method more robust against possible NPEs
  src/main/java/org/cbioportal/legacy/service/impl/GenericAssayServiceImpl.java
Labels: bug

#11499 remove mvn-external-version deps
  pom.xml
Labels: cleanup

#11528 Update News.md
  docs/News.md
Labels: documentation

#11453 Add docs references to clickhouse update tools
  README.md
  docs/Data-Loading.md
Labels: enhancement, documentation

#11444 correct the DROP table statement order
  src/main/resources/db-scripts/cgds.sql
Labels: bug, database

#11446 Add schema versioning for derived tables
  docs/Updating-your-cBioPortal-installation.md
  pom.xml
  src/main/java/org/cbioportal/legacy/model/Info.java
  src/main/java/org/cbioportal/legacy/web/InfoController.java
  src/main/resources/db-scripts/cgds.sql
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
  src/main/resources/db-scripts/migration.sql
  src/main/resources/maven.properties
  src/test/java/org/cbioportal/legacy/web/InfoControllerTest.java
  src/test/resources/cgds-h2.sql
  src/test/resources/cgds.sql
  src/test/resources/maven.properties
  test/test_db_version.sh
Labels: enhancement, documentation, database

#11536 Add CUSTOM_METADATA column into resource_definition table
  .github/workflows/label-check.yml
  pom.xml
  src/main/resources/db-scripts/cgds.sql
  src/main/resources/db-scripts/migration.sql
  src/test/resources/cgds-h2.sql
  src/test/resources/cgds.sql
Labels: includes db changes

#11538 Update cbioportal-core v1.0.10
  docker/web-and-data/Dockerfile
Labels: dependencies

#11529 Add about page to news
  docs/News.md
Labels: documentation

#11546 Add database migration guide for v6.3.0
  docs/Migration-Guide.md
Labels: documentation

#11547 Fix integration test after database migration
  .github/workflows/integration-test.yml
  test/integration/docker-compose-localbuild.yml
  test/test_data/study_es_0/data_mutations_extended.maf
  test/test_data/study_oncokb_import/data_mutations_extended.maf
  test/test_data/study_oncokb_update/data_mutations_extended.maf
Labels: test

#11447 Fix freqency error in ClickHouse
  src/main/java/org/cbioportal/domain/alteration/repository/AlterationRepository.java
  src/main/java/org/cbioportal/domain/alteration/usecase/AbstractAlterationCountByGeneUseCase.java
  src/main/java/org/cbioportal/infrastructure/repository/clickhouse/alteration/ClickhouseAlterationMapper.java
  src/main/java/org/cbioportal/infrastructure/repository/clickhouse/alteration/ClickhouseAlterationRepository.java
  src/main/resources/mappers/clickhouse/alteration/ClickhouseAlterationMapper.xml
  src/test/java/org/cbioportal/infrastructure/repository/clickhouse/alteration/ClickhouseAlterationMapperTest.java
  src/test/resources/clickhouse_data.sql
  test/api-e2e/specs/clinical-data-filters.json
  test/api-e2e/specs/generic-assay-data-counts.json
  test/api-e2e/specs/mutated-genes-filter.json
Labels: bug
