Repository cBioPortal/cbioportal, pull requests merged in 2025-07, with the labels that each got.

#11613 Add e2e testing
  .github/workflows/core-test.yml
  .github/workflows/security-integration-test.yml
  .github/workflows/sonarcloud.yml
  README.md
  pom.xml
  src/e2e/java/org/cbioportal/AbstractE2ETest.java
  src/e2e/java/org/cbioportal/ColumnStoreStudyControllerE2ETest.java
  src/e2e/java/org/cbioportal/HealthCheckE2ETest.java
  src/e2e/resources/security/keycloak-configuration-generated.json
  src/e2e/resources/security/signing-cert.pem
  src/e2e/resources/security/signing-key.pem
  src/integration/java/org/cbioportal/AbstractClickhouseIntegrationTest.java
  src/integration/java/org/cbioportal/config/MybatisTestConfiguration.java
  src/integration/java/org/cbioportal/infrastructure/repository/clickhouse/cancerstudy/ClickhouseCancerStudyRepositoryIntegrationTest.java
  src/integration/resources/security/keycloak-configuration-generated.json
  src/integration/resources/security/signing-cert.pem
  src/integration/resources/security/signing-key.pem
  src/test/java/org/cbioportal/test/integration/DatabaseInitializer.java
  src/test/java/org/cbioportal/test/integration/OAuth2KeycloakInitializer.java
  src/test/java/org/cbioportal/test/integration/OAuth2ResourceServerKeycloakInitializer.java
  src/test/java/org/cbioportal/test/integration/PublicVirtualStudiesIntegrationTest.java
  src/test/java/org/cbioportal/test/integration/SamlKeycloakInitializer.java
  src/test/java/org/cbioportal/test/integration/security/ContainerConfig.java
  src/test/java/org/cbioportal/test/integration/security/OAuth2AuthIntegrationTest.java
  src/test/java/org/cbioportal/test/integration/security/OAuth2ResourceServerIntegrationTest.java
  src/test/java/org/cbioportal/test/integration/security/SamlAuthIntegrationTest.java
  src/test/java/org/cbioportal/test/integration/security/util/HttpHelper.java
  src/test/java/org/cbioportal/test/integration/security/util/TokenHelper.java
  src/test/java/org/cbioportal/test/integration/security/util/Util.java
Labels: test

#11623 Restore sample check endpoint for CIS
  src/main/java/org/cbioportal/legacy/web/MskEntityTranslationController.java
Labels: bug

#11626 Fix get all samples of patient in a study endpoint returning 500 error for invalid patient id
  src/main/java/org/cbioportal/application/rest/error/ErrorResponse.java
  src/main/java/org/cbioportal/application/rest/error/GlobalExceptionHandler.java
  src/test/java/org/cbioportal/legacy/web/config/TestConfig.java
Labels: bug

#11628 Add samples to the treatments endpoint
  src/main/java/org/cbioportal/application/rest/vcolumnstore/ColumnarStoreStudyViewController.java
  src/main/java/org/cbioportal/domain/studyview/StudyViewService.java
  src/main/java/org/cbioportal/domain/treatment/repository/TreatmentRepository.java
  src/main/java/org/cbioportal/domain/treatment/usecase/GetSampleTreatmentReportUseCase.java
  src/main/java/org/cbioportal/infrastructure/repository/clickhouse/treatment/ClickhouseTreatmentMapper.java
  src/main/java/org/cbioportal/infrastructure/repository/clickhouse/treatment/ClickhouseTreatmentRepository.java
  src/main/java/org/cbioportal/legacy/model/SampleTreatment.java
  src/main/java/org/cbioportal/legacy/persistence/mybatis/typehandler/ClinicalEventSampleTypeHandler.java
  src/main/resources/mappers/clickhouse/treatment/ClickhouseTreatmentMapper.xml
  src/test/java/org/cbioportal/infrastructure/repository/clickhouse/treatment/ClickhouseTreatmentMapperTest.java
Labels: cl-bug, Clickhouse

#11643 Restore jitpack config
  jitpack.yml
Labels: dependencies, chore

#11648 Correct e2e command in README.md
  README.md
Labels: documentation
