Repository cBioPortal/cbioportal, pull requests merged in 2025-02, with the labels that each got.

#11342 Update README.md - Add small information for better understanding. Especially for Windows users.
  docs/deployment/docker/README.md
Labels: documentation

#10875 remove unneeded references to old tables
  src/main/resources/db-scripts/cgds.sql
  src/main/resources/db-scripts/migration.sql
  src/test/resources/cgds-h2.sql
Labels: cleanup, database

#11370 Add generic assay profiles checking in study view page
  src/main/java/org/cbioportal/persistence/helper/StudyViewFilterHelper.java
Labels: bug, RFC80

#11374 Re-arrange joining on genetic_alteration table to optimize memory con…
  src/main/resources/db-scripts/clickhouse/clickhouse.sql
Labels: performance

#11147 Update docker build and push action to latest version
  .github/workflows/dockerimage.yml
Labels: ready to review, dependencies

#11385 Update circleci localdb tests to use the new setup
  .circleci/config.yml
Labels: test

#11388 Clarify spring security configuration
  docs/SUMMARY.md
  docs/deployment/authorization-and-authentication/Spring-Security.md
  docs/deployment/customization/application.properties-Reference.md
  docs/deployment/customization/security.properties-Reference.md
  src/main/java/org/cbioportal/legacy/web/IndexPageController.java
  src/main/resources/application.properties.EXAMPLE
Labels: documentation

#11381 Generic Assay categorical patient level filtering - legacy
  src/main/java/org/cbioportal/legacy/model/GenericAssayData.java
  src/main/java/org/cbioportal/legacy/service/impl/GenericAssayServiceImpl.java
  src/main/java/org/cbioportal/legacy/service/impl/StudyViewServiceImpl.java
Labels: bug

#11383 Label new issues automatically
  .github/workflows/auto-label.yml
Labels: ready to review, devops

#11391 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: skip-changelog

#11358 fix: allow empty genepanel query for API
  src/main/java/org/cbioportal/legacy/web/GenePanelDataController.java
  src/main/java/org/cbioportal/legacy/web/parameter/GenePanelDataMultipleStudyFilter.java
Labels: bug

#11397 Update cache action version
  .github/workflows/core-test.yml
  .github/workflows/integration-test.yml
  .github/workflows/security-integration-test.yml
  .github/workflows/sonarcloud.yml
Labels: devops

#11378 Creates Standalone Configuration Information Section in Documentation
  docs/deployment/standalone/README.md
Labels: documentation

#11400 Update the names for oncoprint tracks and custom sample color
  src/main/java/org/cbioportal/legacy/service/FrontendPropertiesServiceImpl.java
Labels: bug

#11421 Update groupid for jitpack builds
  pom.xml
Labels: bug

#10844 Remove servlet-api dependency from mockserver-client-java
  docs/deployment/standalone/README.md
  pom.xml
Labels: documentation, dependencies
